# R Basic Tutorial

## 1.0 Assignment
Use `<-`, not `=`, for assignment.
The symbol `=` is preferable for arguments in functions. Additionally, it can not be used in some syntax context. More information [here](https://stackoverflow.com/questions/1741820/what-are-the-differences-between-and-assignment-operators-in-r).

In [1]:
a = 1
b <- 1

In [2]:
b

[1] 1

In [3]:
b

[1] 1

In [4]:
c <- b <- 11

In [5]:
c

[1] 11

In [6]:
c <- b <- 11
print(c)

[1] 11

## 2.0 Objects

### Clases

R is a functional programming language. It means that the programs are constructed by applying and composing functions. However, It can use Object Oriented Programming to construct tools for data analysis. Class is the blueprint that helps to create an object and contains its member variable along with the attributes. We have two main classes: S3 and S4. [info](https://www.datacamp.com/community/tutorials/r-objects-and-classes)

### Objects
Objects are the instance of a class. It means that it has some methods that can act upon its attributes. In R, everything is an object. We will cover four main objects: vector, matrix, list and dataframes. All of them comes from a class.

#### Data Types
There are four data types: `character`, `numeric`, `integer` and `boolean`.

In [7]:
a <- 'Hola'
print(class( a ))   # type of object
print(typeof( a )) # how object is stored in memory

[1] "character"
[1] "character"

In [8]:
b <- 20.5
print(class( b ))
b

[1] "numeric"

[1] 20.5

In [9]:
c <- as.integer(20.5)
c
print(class( c ))

[1] 20

[1] "integer"

In [10]:
# typeof helps us to understand how this object is store in memory.
typeof(b)
# Class helps us to understand the type of a object
class(b)

[1] "double"

[1] "numeric"

In [11]:
c1 <- "Machine Learning"
c2 <- "Causal inference"
cat(c1,"  ",c2)

Machine Learning    Causal inference

In [12]:
install.packages("devtools")
library(glue)
glue('{c1} y {c2} course')

Installing package into 'C:/Users/Roberto/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'devtools' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto\AppData\Local\Temp\RtmpATAaZL\downloaded_packages

Machine Learning y Causal inference course

In [13]:
# Boolean variables

log_true <- TRUE
print(class( log_true ))

z1 <- (1==1)

z2 <- (10 > 20)

z3 <- (1==1)

cat(z1,'\n',z2,'\n',z3)

class(as.integer(z3))

typeof(as.integer(z3))

[1] "logical"
TRUE
 FALSE
 TRUE

[1] "integer"

[1] "integer"

# 3.0 List

A list in R can contain many different data types inside it. A list is a collection of data which is ordered and changeable.

#### Lists
This data structure does not require that all members be of the same data type.

In [14]:
# imnstall packeg to operate list functions
install.packages("rlist")
library(rlist)

Installing package into 'C:/Users/Roberto/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'rlist' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto\AppData\Local\Temp\RtmpATAaZL\downloaded_packages

In [15]:
list_1 <- list( "good", "bad", "ugly","good", "bad", 1)
list_1

[[1]]
[1] "good"

[[2]]
[1] "bad"

[[3]]
[1] "ugly"

[[4]]
[1] "good"

[[5]]
[1] "bad"

[[6]]
[1] 1

In [16]:
list_1[1:5]

[[1]]
[1] "good"

[[2]]
[1] "bad"

[[3]]
[1] "ugly"

[[4]]
[1] "good"

[[5]]
[1] "bad"

In [17]:
list_1 <- append(list_1, "bad")
list_1

[[1]]
[1] "good"

[[2]]
[1] "bad"

[[3]]
[1] "ugly"

[[4]]
[1] "good"

[[5]]
[1] "bad"

[[6]]
[1] 1

[[7]]
[1] "bad"

In [18]:
# factor grouped categorical variables

fac_2 <- factor( c( "good", "bad", "ugly","good", "bad", "ugly", 5 ) )
fac_2

[1] good bad  ugly good bad  ugly 5
Levels: 5 bad good ugly

In [19]:
fac <- factor( c( "good", "bad", "ugly","good", "bad", "ugly" ) )
print( fac )
# Type of class
typeof( fac )
class( fac )

[1] good bad  ugly good bad  ugly
Levels: bad good ugly

[1] "integer"

[1] "factor"

In [20]:
# Levels o categories 
levels( fac )
# Number of Levels
nlevels( fac )

[1] "bad"  "good" "ugly"

[1] 3

In [21]:
# Check the variables that you defined
ls()

 [1] "a"        "b"        "c"        "c1"       "c2"       "fac"
 [7] "fac_2"    "list_1"   "log_true" "z1"       "z2"       "z3"

Basic data structures in R include the vector, list, matrix, data frame, and factors. Some of these structures require that all members be of the same data type (e.g. vectors, matrices) while others permit multiple data types (e.g. lists, data frames).

In [22]:
mylist <- list( num_UEFA = c( 13 , 7 , 6 ) , clubs = c( "Real Madrid" , "AC Milan" , "Liverpool FC" ) , 
               last_year = c( 2018 , 2007 , 2019 ) )

mylist

$num_UEFA
[1] 13  7  6

$clubs
[1] "Real Madrid"  "AC Milan"     "Liverpool FC"

$last_year
[1] 2018 2007 2019

In [23]:
mylist$num_UEFA

[1] 13  7  6

In [24]:
# Indexing vectors
mylist[[3]]

[1] 2018 2007 2019

In [25]:
# Indexing group of vectors
mylist[[3]][2:3]

[1] 2007 2019

In [26]:
# Indexing group of vectors
mylist[3][1]

$last_year
[1] 2018 2007 2019

In [27]:
list.remove(mylist,"last_year")

$num_UEFA
[1] 13  7  6

$clubs
[1] "Real Madrid"  "AC Milan"     "Liverpool FC"

In [28]:
Postal_code <- append(mylist, 4000)
Postal_code

$num_UEFA
[1] 13  7  6

$clubs
[1] "Real Madrid"  "AC Milan"     "Liverpool FC"

$last_year
[1] 2018 2007 2019

[[4]]
[1] 4000

#### Vectors
This data structure requires that all members be of the same data type.

In [29]:
vec_str <-  c( "good", "bad", "ugly","good", "bad")
print( class( vec_str ) )
print( is.vector( vec_str ) )
print( length( vec_str ) )

[1] "character"
[1] TRUE
[1] 5

In [30]:
vec <- c( 2 , 3 , 4 , 5 , 6 , 4 )
vec

[1] 2 3 4 5 6 4

In [31]:
print( class( vec ) )
print( is.vector( vec ) )
print( length( vec ) )

[1] "numeric"
[1] TRUE
[1] 6

In [32]:
sec_1_20 <- seq(1,20,2)
sec_1_20

 [1]  1  3  5  7  9 11 13 15 17 19

In [33]:
sec_1_9 <- seq(1,10)
sec_1_9

 [1]  1  2  3  4  5  6  7  8  9 10

#### Indexing

In [34]:
index_vec  <- vec[ c( 3, 1, 6, 2 ) ]
class(index_vec)

[1] "numeric"

In [35]:
print(index_vec)
print(index_vec[ -3 ])

[1] 4 2 4 3
[1] 4 2 3

In [36]:
print( index_vec[ index_vec < 3 ] )

[1] 2

In [37]:
print( index_vec[ 2:4 ] )

[1] 2 4 3

#### Matrix
This data structure requires that all members be of the same data type.

In [38]:
A = matrix( c(3, 5, 2, 6, 7, 1, 6, 3, 7 ) , nrow = 3, ncol = 3 , byrow = FALSE, 
            dimnames = list( c( "rowA" , "rowB" , "rowC" ), c( "colA" , "colB" , "colC" ) ) )
A

     colA colB colC
rowA 3    6    6
rowB 5    7    3
rowC 2    1    7

In [39]:
A = matrix( c(3, 5, 2, 6, 7, 1, 6, 3, 7 ) , nrow = 3, ncol = 3 , byrow = TRUE)
A

     [,1] [,2] [,3]
[1,] 3    5    2
[2,] 6    7    1
[3,] 6    3    7

In [40]:
A = matrix( c(3, 5, 2, 6, 7, 1, 6, 3, 7 ) , nrow = 3, ncol = 3 , byrow = TRUE, 
            dimnames = list( c( "rowA" , "rowB" , "rowC" ), c( "colA" , "colB" , "colC" ) ) )
print( A )

     colA colB colC
rowA    3    5    2
rowB    6    7    1
rowC    6    3    7

In [41]:
class(A)
typeof(A)

[1] "matrix" "array"

[1] "double"

In [42]:
dim(A)

[1] 3 3

In [43]:
cat("rows: ", dim(A)[1], '\n', "Columns: ", dim(A)[2])

rows:  3
 Columns:  3

In [44]:
B = A %*% solve( A )
B

     rowA          rowB rowC
rowA  1.000000e+00 0    5.551115e-17
rowB -3.885781e-16 1    2.775558e-17
rowC -4.440892e-16 0    1.000000e+00

In [45]:
# Solve for getting inverse matrix
# %*% Matrix Multiplication
# round output of the matrix
B = round( A %*% solve( A ) , 2 )
B

     rowA rowB rowC
rowA 1    0    0
rowB 0    1    0
rowC 0    0    1

In [46]:
print( diag( B ) )

rowA rowB rowC
   1    1    1

In [47]:
print( t( A ) )

     rowA rowB rowC
colA    3    6    6
colB    5    7    3
colC    2    1    7

In [48]:
A <- matrix(c(seq(0, 9), seq( 10, 19), seq( 30, 39), seq( -20, -11), seq( 2, 20,2)), nrow = 5, byrow =TRUE)
print(A)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]    0    1    2    3    4    5    6    7    8     9
[2,]   10   11   12   13   14   15   16   17   18    19
[3,]   30   31   32   33   34   35   36   37   38    39
[4,]  -20  -19  -18  -17  -16  -15  -14  -13  -12   -11
[5,]    2    4    6    8   10   12   14   16   18    20

In [49]:
A[2:4,] # rows selecrtion

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  10   11   12   13   14   15   16   17   18   19
[2,]  30   31   32   33   34   35   36   37   38   39
[3,] -20  -19  -18  -17  -16  -15  -14  -13  -12  -11

In [50]:
A[,1:6]  # columns selecrtion

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]   0    1    2    3    4    5
[2,]  10   11   12   13   14   15
[3,]  30   31   32   33   34   35
[4,] -20  -19  -18  -17  -16  -15
[5,]   2    4    6    8   10   12

In [51]:
M1 <- matrix(0,8,2)

print(M1)

     [,1] [,2]
[1,]    0    0
[2,]    0    0
[3,]    0    0
[4,]    0    0
[5,]    0    0
[6,]    0    0
[7,]    0    0
[8,]    0    0

In [52]:
M2 <- matrix(1,8, 4) 
print(M2)

     [,1] [,2] [,3] [,4]
[1,]    1    1    1    1
[2,]    1    1    1    1
[3,]    1    1    1    1
[4,]    1    1    1    1
[5,]    1    1    1    1
[6,]    1    1    1    1
[7,]    1    1    1    1
[8,]    1    1    1    1

In [53]:
M3 <- cbind(M1,M2)
M3

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 0    0    1    1    1    1
[2,] 0    0    1    1    1    1
[3,] 0    0    1    1    1    1
[4,] 0    0    1    1    1    1
[5,] 0    0    1    1    1    1
[6,] 0    0    1    1    1    1
[7,] 0    0    1    1    1    1
[8,] 0    0    1    1    1    1

In [54]:
M4 = matrix(c(2,2,3,4,5,1,1,5,5,9,8,2), nrow =2, byrow = TRUE)
print(M4)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]    2    2    3    4    5    1
[2,]    1    5    5    9    8    2

In [55]:
M5 <- rbind(M3,M4)
print(M5)

      [,1] [,2] [,3] [,4] [,5] [,6]
 [1,]    0    0    1    1    1    1
 [2,]    0    0    1    1    1    1
 [3,]    0    0    1    1    1    1
 [4,]    0    0    1    1    1    1
 [5,]    0    0    1    1    1    1
 [6,]    0    0    1    1    1    1
 [7,]    0    0    1    1    1    1
 [8,]    0    0    1    1    1    1
 [9,]    2    2    3    4    5    1
[10,]    1    5    5    9    8    2

#### DataFrame
This data structure does not require that all members be of the same data type.

In [56]:
Student_Name <- c("Amy", "Bob", "Chuck", "Daisy", "Ellie", "Frank", 
                  "George", "Helen")

Age <- c(27, 55, 34, 42, 20, 27, 34, 42)

Gender <- c("F", "M", "M", "F", "F", "M", "M", "F")

GPA <- c(3.26, 3.75, 2.98, 3.40, 2.75, 3.32, 3.68, 3.97)

nsc <- data.frame(Student_Name, Age, Gender, GPA)   # Naming the data frame
nsc # Generates the data frame

  Student_Name Age Gender GPA
1 Amy          27  F      3.26
2 Bob          55  M      3.75
3 Chuck        34  M      2.98
4 Daisy        42  F      3.40
5 Ellie        20  F      2.75
6 Frank        27  M      3.32
7 George       34  M      3.68
8 Helen        42  F      3.97

In [57]:
# Lists variables
names(nsc)

[1] "Student_Name" "Age"          "Gender"       "GPA"

In [58]:
select_col <- c(1,3)
select_row <- c(1,5)

In [59]:
nsc[select_row, select_col]

  Student_Name Gender
1 Amy          F
5 Ellie        F

In [60]:
# indexing dataframes
nsc[3:5 , 2:4]

  Age Gender GPA
3 34  M      2.98
4 42  F      3.40
5 20  F      2.75

In [61]:
# indexing dataframes
nsc[ c( 1 , 2 , 4, 6 ) , c( 3 , 2 ) ]

  Gender Age
1 F      27
2 M      55
4 F      42
6 M      27

In [62]:
nsc$Student_Name

[1] "Amy"    "Bob"    "Chuck"  "Daisy"  "Ellie"  "Frank"  "George" "Helen"

## Load  files : CSV, Excel
## Working with DataFrames

In [63]:
#install.packages("readxl")
library(readxl)

In [65]:
base <- read_excel("../../../data/base1.xlsx", sheet = "data")
head(base)

New names:
• `` -> `...1`

  ...1 wage      lwage    sex shs hsg scl clg ad mw ⋯ we ne exp1 exp2 exp3
1 10    9.615385 2.263364 1   0   0   0   1   0  0  ⋯ 0  1   7   0.49  0.343
2 12   48.076923 3.872802 0   0   0   0   1   0  0  ⋯ 0  1  31   9.61 29.791
3 15   11.057692 2.403126 0   0   1   0   0   0  0  ⋯ 0  1  18   3.24  5.832
4 18   13.942308 2.634928 1   0   0   0   0   1  0  ⋯ 0  1  25   6.25 15.625
5 19   28.846154 3.361977 1   0   0   0   1   0  0  ⋯ 0  1  22   4.84 10.648
6 30   11.730769 2.462215 1   0   0   0   1   0  0  ⋯ 0  1   1   0.01  0.001
  exp4    occ  occ2 ind  ind2
1  0.2401 3600 11   8370 18
2 92.3521 3050 10   5070  9
3 10.4976 6260 19    770  4
4 39.0625  420  1   6990 12
5 23.4256 2015  6   9470 22
6  0.0001 1650  5   7460 14

In [66]:
base <- read.csv(file = "../../../data/base0.csv")
head(base)

  X  wage      lwage    sex shs hsg scl clg ad mw ⋯ we ne exp1 exp2 exp3
1 10  9.615385 2.263364 1   0   0   0   1   0  0  ⋯ 0  1   7   0.49  0.343
2 12 48.076923 3.872802 0   0   0   0   1   0  0  ⋯ 0  1  31   9.61 29.791
3 15 11.057692 2.403126 0   0   1   0   0   0  0  ⋯ 0  1  18   3.24  5.832
4 18 13.942308 2.634928 1   0   0   0   0   1  0  ⋯ 0  1  25   6.25 15.625
5 19 28.846154 3.361977 1   0   0   0   1   0  0  ⋯ 0  1  22   4.84 10.648
6 30 11.730769 2.462215 1   0   0   0   1   0  0  ⋯ 0  1   1   0.01  0.001
  exp4    occ  occ2 ind  ind2
1  0.2401 3600 11   8370 18
2 92.3521 3050 10   5070  9
3 10.4976 6260 19    770  4
4 39.0625  420  1   6990 12
5 23.4256 2015  6   9470 22
6  0.0001 1650  5   7460 14

In [67]:
sapply(base, typeof)

        X      wage     lwage       sex       shs       hsg       scl       clg
"integer"  "double"  "double" "integer" "integer" "integer" "integer" "integer"
       ad        mw        so        we        ne      exp1      exp2      exp3
"integer" "integer" "integer" "integer" "integer"  "double"  "double"  "double"
     exp4       occ      occ2       ind      ind2
 "double"  "double" "integer"  "double" "integer"

In [68]:
str(base)

'data.frame':	5150 obs. of  21 variables:
 $ X    : int  10 12 15 18 19 30 43 44 47 71 ...
 $ wage : num  9.62 48.08 11.06 13.94 28.85 ...
 $ lwage: num  2.26 3.87 2.4 2.63 3.36 ...
 $ sex  : int  1 0 0 1 1 1 1 0 1 1 ...
 $ shs  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ hsg  : int  0 0 1 0 0 0 1 1 1 0 ...
 $ scl  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ clg  : int  1 1 0 0 1 1 0 0 0 1 ...
 $ ad   : int  0 0 0 1 0 0 0 0 0 0 ...
 $ mw   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ so   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ we   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ne   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ exp1 : num  7 31 18 25 22 1 42 37 31 4 ...
 $ exp2 : num  0.49 9.61 3.24 6.25 4.84 ...
 $ exp3 : num  0.343 29.791 5.832 15.625 10.648 ...
 $ exp4 : num  0.24 92.35 10.5 39.06 23.43 ...
 $ occ  : num  3600 3050 6260 420 2015 ...
 $ occ2 : int  11 10 19 1 6 5 17 17 13 10 ...
 $ ind  : num  8370 5070 770 6990 9470 7460 7280 5680 8590 8190 ...
 $ ind2 : int  18 9 4 12 22 14 14 9 19 18 ...

In [69]:
#install.packages("dplyr")
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [70]:
base1 <- base %>% rename(salario = wage, id = X)

head(base1)

  id salario   lwage    sex shs hsg scl clg ad mw ⋯ we ne exp1 exp2 exp3
1 10  9.615385 2.263364 1   0   0   0   1   0  0  ⋯ 0  1   7   0.49  0.343
2 12 48.076923 3.872802 0   0   0   0   1   0  0  ⋯ 0  1  31   9.61 29.791
3 15 11.057692 2.403126 0   0   1   0   0   0  0  ⋯ 0  1  18   3.24  5.832
4 18 13.942308 2.634928 1   0   0   0   0   1  0  ⋯ 0  1  25   6.25 15.625
5 19 28.846154 3.361977 1   0   0   0   1   0  0  ⋯ 0  1  22   4.84 10.648
6 30 11.730769 2.462215 1   0   0   0   1   0  0  ⋯ 0  1   1   0.01  0.001
  exp4    occ  occ2 ind  ind2
1  0.2401 3600 11   8370 18
2 92.3521 3050 10   5070  9
3 10.4976 6260 19    770  4
4 39.0625  420  1   6990 12
5 23.4256 2015  6   9470 22
6  0.0001 1650  5   7460 14

In [71]:
base1 <- base1 %>% select(-c(id,ind2))

In [72]:
head(base1)

  salario   lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2 exp3
1  9.615385 2.263364 1   0   0   0   1   0  0  0  0  1   7   0.49  0.343
2 48.076923 3.872802 0   0   0   0   1   0  0  0  0  1  31   9.61 29.791
3 11.057692 2.403126 0   0   1   0   0   0  0  0  0  1  18   3.24  5.832
4 13.942308 2.634928 1   0   0   0   0   1  0  0  0  1  25   6.25 15.625
5 28.846154 3.361977 1   0   0   0   1   0  0  0  0  1  22   4.84 10.648
6 11.730769 2.462215 1   0   0   0   1   0  0  0  0  1   1   0.01  0.001
  exp4    occ  occ2 ind
1  0.2401 3600 11   8370
2 92.3521 3050 10   5070
3 10.4976 6260 19    770
4 39.0625  420  1   6990
5 23.4256 2015  6   9470
6  0.0001 1650  5   7460

In [73]:
head(base1 %>%   slice(-c(1,3)) )

  salario  lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2  exp3
1 48.07692 3.872802 0   0   0   0   1   0  0  0  0  1  31    9.61 29.791
2 13.94231 2.634928 1   0   0   0   0   1  0  0  0  1  25    6.25 15.625
3 28.84615 3.361977 1   0   0   0   1   0  0  0  0  1  22    4.84 10.648
4 11.73077 2.462215 1   0   0   0   1   0  0  0  0  1   1    0.01  0.001
5 19.23077 2.956512 1   0   1   0   0   0  0  0  0  1  42   17.64 74.088
6 19.23077 2.956512 0   0   1   0   0   0  0  0  0  1  37   13.69 50.653
  exp4     occ  occ2 ind
1  92.3521 3050 10   5070
2  39.0625  420  1   6990
3  23.4256 2015  6   9470
4   0.0001 1650  5   7460
5 311.1696 5120 17   7280
6 187.4161 5240 17   5680

## Slicing  dataframe

In [74]:
base1[1:10,]

   salario   lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2  exp3
1   9.615385 2.263364 1   0   0   0   1   0  0  0  0  1   7    0.49  0.343
2  48.076923 3.872802 0   0   0   0   1   0  0  0  0  1  31    9.61 29.791
3  11.057692 2.403126 0   0   1   0   0   0  0  0  0  1  18    3.24  5.832
4  13.942308 2.634928 1   0   0   0   0   1  0  0  0  1  25    6.25 15.625
5  28.846154 3.361977 1   0   0   0   1   0  0  0  0  1  22    4.84 10.648
6  11.730769 2.462215 1   0   0   0   1   0  0  0  0  1   1    0.01  0.001
7  19.230769 2.956512 1   0   1   0   0   0  0  0  0  1  42   17.64 74.088
8  19.230769 2.956512 0   0   1   0   0   0  0  0  0  1  37   13.69 50.653
9  12.000000 2.484907 1   0   1   0   0   0  0  0  0  1  31    9.61 29.791
10 19.230769 2.956512 1   0   0   0   1   0  0  0  0  1   4    0.16  0.064
   exp4     occ  occ2 ind
1    0.2401 3600 11   8370
2   92.3521 3050 10   5070
3   10.4976 6260 19    770
4   39.0625  420  1   6990
5   23.4256 2015  6   9470
6    0.0001 1650  5   7460
7  311.1696 5120 17   7280
8  187.4161 5240 17   5680
9   92.3521 4040 13   8590
10   0.0256 3255 10   8190

In [75]:
base1[,1:5]

     salario   lwage    sex shs hsg
1     9.615385 2.263364 1   0   0
2    48.076923 3.872802 0   0   0
3    11.057692 2.403126 0   0   1
4    13.942308 2.634928 1   0   0
5    28.846154 3.361977 1   0   0
6    11.730769 2.462215 1   0   0
7    19.230769 2.956512 1   0   1
8    19.230769 2.956512 0   0   1
9    12.000000 2.484907 1   0   1
10   19.230769 2.956512 1   0   0
11   17.307692 2.851151 1   0   1
12   12.019231 2.486508 0   0   1
13   12.019231 2.486508 1   0   0
14   13.461538 2.599837 1   0   0
15   16.346154 2.793993 1   0   0
16   27.884615 3.328075 0   0   1
17   21.600000 3.072693 0   0   1
18    8.653846 2.158004 0   0   0
19   19.230769 2.956512 0   0   1
20   13.186813 2.579217 0   0   1
21   10.683761 2.368725 1   0   0
22   11.538462 2.445686 1   0   0
23   17.788462 2.878550 1   0   0
24   19.230769 2.956512 0   0   0
25   16.304348 2.791432 1   0   0
26   19.230769 2.956512 0   0   1
27   14.423077 2.668829 1   0   1
28   12.000000 2.484907 0   0   0
29   16.826923 2.822980 0   0   0
30   19.670330 2.979111 0   0   0
⋮    ⋮         ⋮        ⋮   ⋮   ⋮
5121 13.986014 2.638058 1   0   0
5122 15.865385 2.764140 0   0   0
5123 38.461538 3.649659 1   0   0
5124 28.846154 3.361977 0   0   0
5125 24.475524 3.197674 1   0   0
5126 27.884615 3.328075 0   0   0
5127  8.653846 2.158004 1   0   1
5128 12.019231 2.486508 0   0   1
5129 38.461538 3.649659 0   0   0
5130 12.500000 2.525729 1   0   1
5131 35.256410 3.562647 0   0   0
5132 48.076923 3.872802 1   0   0
5133  9.615385 2.263364 0   0   1
5134 12.019231 2.486508 0   0   1
5135 12.019231 2.486508 0   0   0
5136 12.980769 2.563469 0   0   1
5137 26.442308 3.274965 1   0   0
5138 13.461538 2.599837 1   0   1
5139 19.711538 2.981204 1   0   0
5140 21.153846 3.051822 0   0   0
5141 45.546559 3.818735 1   0   0
5142 22.596154 3.117780 0   0   1
5143 16.826923 2.822980 0   0   1
5144 24.038462 3.179655 1   0   0
5145 13.846154 2.628007 0   0   0
5146 14.769231 2.692546 0   0   0
5147 23.076923 3.138833 1   0   0
5148 38.461538 3.649659 0   0   0
5149 32.967033 3.495508 0   0   1
5150 17.307692 2.851151 0   0   0

In [76]:
base1[1:10,] %>% select(salario, lwage)

   salario   lwage
1   9.615385 2.263364
2  48.076923 3.872802
3  11.057692 2.403126
4  13.942308 2.634928
5  28.846154 3.361977
6  11.730769 2.462215
7  19.230769 2.956512
8  19.230769 2.956512
9  12.000000 2.484907
10 19.230769 2.956512

In [77]:
select(base1[1:10,], salario,lwage)

   salario   lwage
1   9.615385 2.263364
2  48.076923 3.872802
3  11.057692 2.403126
4  13.942308 2.634928
5  28.846154 3.361977
6  11.730769 2.462215
7  19.230769 2.956512
8  19.230769 2.956512
9  12.000000 2.484907
10 19.230769 2.956512

In [78]:
base1 %>% filter(sex == 1)

     salario   lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2
1     9.615385 2.263364 1   0   0   0   1   0  0  0  0  1   7.0  0.4900
2    13.942308 2.634928 1   0   0   0   0   1  0  0  0  1  25.0  6.2500
3    28.846154 3.361977 1   0   0   0   1   0  0  0  0  1  22.0  4.8400
4    11.730769 2.462215 1   0   0   0   1   0  0  0  0  1   1.0  0.0100
5    19.230769 2.956512 1   0   1   0   0   0  0  0  0  1  42.0 17.6400
6    12.000000 2.484907 1   0   1   0   0   0  0  0  0  1  31.0  9.6100
7    19.230769 2.956512 1   0   0   0   1   0  0  0  0  1   4.0  0.1600
8    17.307692 2.851151 1   0   1   0   0   0  0  0  0  1   7.0  0.4900
9    12.019231 2.486508 1   0   0   1   0   0  0  0  0  1   5.5  0.3025
10   13.461538 2.599837 1   0   0   1   0   0  0  0  0  1  20.5  4.2025
11   16.346154 2.793993 1   0   0   0   1   0  0  0  0  1  25.0  6.2500
12   10.683761 2.368725 1   0   0   1   0   0  0  0  0  1   6.5  0.4225
13   11.538462 2.445686 1   0   0   1   0   0  0  0  0  1   8.5  0.7225
14   17.788462 2.878550 1   0   0   0   0   1  0  0  0  1  11.0  1.2100
15   16.304348 2.791432 1   0   0   1   0   0  0  0  0  1  24.5  6.0025
16   14.423077 2.668829 1   0   1   0   0   0  0  0  0  1   5.0  0.2500
17   42.307692 3.744969 1   0   0   0   0   1  0  0  0  1   0.0  0.0000
18   13.942308 2.634928 1   0   0   1   0   0  0  0  0  1  15.5  2.4025
19   10.096154 2.312155 1   0   0   1   0   0  0  0  0  1   9.0  0.8100
20   14.053254 2.642854 1   0   0   0   0   1  0  0  0  1  14.0  1.9600
21   11.965812 2.482054 1   0   1   0   0   0  0  0  0  1  14.0  1.9600
22   24.038462 3.179655 1   0   0   0   1   0  0  0  0  1  31.0  9.6100
23   41.208791 3.718652 1   0   0   0   1   0  0  0  0  1  11.0  1.2100
24   21.634615 3.074295 1   0   0   1   0   0  0  0  0  1  17.5  3.0625
25    6.730769 1.906689 1   0   1   0   0   0  0  0  0  1  15.0  2.2500
26   12.019231 2.486508 1   0   0   1   0   0  0  0  0  1   6.5  0.4225
27    7.211538 1.975682 1   0   0   1   0   0  0  0  0  1  17.5  3.0625
28   11.778846 2.466305 1   0   0   0   1   0  0  0  0  1   7.0  0.4900
29   13.076923 2.570849 1   0   0   0   1   0  0  0  0  1  10.0  1.0000
30   22.500000 3.113515 1   0   0   0   0   1  0  0  0  1  35.0 12.2500
⋮    ⋮         ⋮        ⋮   ⋮   ⋮   ⋮   ⋮   ⋮  ⋮  ⋮  ⋮  ⋮  ⋮    ⋮
2260 48.076923 3.872802 1   0   0   0   0   1  0  0  1  0   0.0  0.0000
2261 20.673077 3.028832 1   0   0   0   1   0  0  0  1  0   6.0  0.3600
2262  8.894231 2.185403 1   0   1   0   0   0  0  0  1  0   5.0  0.2500
2263 30.145530 3.406037 1   0   0   0   1   0  0  0  1  0  15.0  2.2500
2264 12.019231 2.486508 1   0   0   1   0   0  0  0  1  0   9.5  0.9025
2265 24.038462 3.179655 1   0   1   0   0   0  0  0  1  0   7.0  0.4900
2266 22.596154 3.117780 1   0   0   1   0   0  0  0  1  0  11.5  1.3225
2267  7.211538 1.975682 1   0   0   0   0   1  0  0  1  0   2.0  0.0400
2268 18.750000 2.931194 1   0   0   1   0   0  0  0  1  0  19.0  3.6100
2269 29.914530 3.398344 1   0   0   0   1   0  0  0  1  0  39.0 15.2100
2270 11.298077 2.424633 1   0   0   0   1   0  0  0  1  0  10.0  1.0000
2271 16.025641 2.774190 1   0   0   1   0   0  0  0  1  0  11.0  1.2100
2272 16.826923 2.822980 1   0   0   0   1   0  0  0  1  0   4.0  0.1600
2273 15.865385 2.764140 1   0   0   0   0   1  0  0  1  0   0.0  0.0000
2274 18.750000 2.931194 1   0   0   0   1   0  0  0  1  0   2.0  0.0400
2275 20.913462 3.040393 1   0   0   1   0   0  0  0  1  0   4.5  0.2025
2276 15.697863 2.753525 1   0   1   0   0   0  0  0  1  0  40.0 16.0000
2277 12.237762 2.504526 1   0   0   0   0   1  0  0  1  0   6.0  0.3600
2278 13.986014 2.638058 1   0   0   0   0   1  0  0  1  0   7.0  0.4900
2279 38.461538 3.649659 1   0   0   1   0   0  0  0  1  0   7.5  0.5625
2280 24.475524 3.197674 1   0   0   0   0   1  0  0  1  0  24.0  5.7600
2281  8.653846 2.158004 1   0   1   0   0   0  0  0  1  0  25.0  6.2500
2282 12.500000 2.525729 1   0   1   0   0   0  0  0  1  0  12.0  1.4400
2283 48.076923 3.872802 1   0   0   0   1   0  0  0  1  0  25.0  6.2500
2284 26.442308 3.274965 1   0   0   0   1   0  0  0  1  0  34.0 11.5600
2285 13.461538 2.599837 1   0   1   0   0   0  0  0  1  0   8.0  0.6400
2286 19.711538 2.981204 1   0   0   0   0   1  0  0  1  0   8.0  0.6400
2287 45.546559 3.818735 1   0   0   0   1   0  0  0  1  0   5.0  0.2500
2288 24.038462 3.179655 1   0   0   0   1   0  0  0  1  0  17.0  2.8900
2289 23.076923 3.138833 1   0   0   1   0   0  0  0  1  0  12.0  1.4400
     exp3      exp4         occ  occ2 ind
1     0.343000   0.24010000 3600 11   8370
2    15.625000  39.06250000  420  1   6990
3    10.648000  23.42560000 2015  6   9470
4     0.001000   0.00010000 1650  5   7460
5    74.088000 311.16960000 5120 17   7280
6    29.791000  92.35210000 4040 13   8590
7     0.064000   0.02560000 3255 10   8190
8     0.343000   0.24010000 4020 13   8270
9     0.166375   0.09150625 3600 11   8270
10    8.615125  17.66100625 3645 11   8190
11   15.625000  39.06250000  110  1   7870
12    0.274625   0.17850625 4300 15   8590
13    0.614125   0.52200625 3600 11   8190
14    1.331000   1.46410000 2310  8   7860
15   14.706125  36.03000625   20  1   5480
16    0.125000   0.06250000  430  1   7390
17    0.000000   0.00000000 4700 16   4795
18    3.723875   5.77200625 5860 17   4670
19    0.729000   0.65610000 3500 10   8090
20    2.744000   3.84160000 2330  8   7860
21    2.744000   3.84160000  430  1   2980
22   29.791000  92.35210000 2630  9   4870
23    1.331000   1.46410000 4700 16   5790
24    5.359375   9.37890625 5400 17   6695
25    3.375000   5.06250000 3600 11   8270
26    0.274625   0.17850625 4110 13   8680
27    5.359375   9.37890625 4720 16   4980
28    0.343000   0.24010000 5860 17   6870
29    1.000000   1.00000000  725  2   8590
30   42.875000 150.06250000 2310  8   7860
⋮    ⋮         ⋮            ⋮    ⋮    ⋮
2260  0.000000   0.00000000 3050 10   8090
2261  0.216000   0.12960000 5000 17   6870
2262  0.125000   0.06250000 4720 16   8680
2263  3.375000   5.06250000  120  1   6870
2264  0.857375   0.81450625 4760 16   4890
2265  0.343000   0.24010000  120  1   6890
2266  1.520875   1.74900625 5240 17   6690
2267  0.008000   0.00160000 2200  8   7870
2268  6.859000  13.03210000 3649 11   8190
2269 59.319000 231.34410000 4700 16   5380
2270  1.000000   1.00000000 2060  6   9160
2271  1.331000   1.46410000 4720 16   5080
2272  0.064000   0.02560000 3648 11   7480
2273  0.000000   0.00000000 3230 10   8180
2274  0.008000   0.00160000 2000  6   8370
2275  0.091125   0.04100625 4600 15   8470
2276 64.000000 256.00000000 4850 16   4470
2277  0.216000   0.12960000 3820 12   9590
2278  0.343000   0.24010000 3820 12   9590
2279  0.421875   0.31640625  220  1    770
2280 13.824000  33.17760000 2310  8   7860
2281 15.625000  39.06250000 3930 12   7680
2282  1.728000   2.07360000 4010 13   8680
2283 15.625000  39.06250000 3255 10   8170
2284 39.304000 133.63360000 2310  8   7860
2285  0.512000   0.40960000 4720 16   8590
2286  0.512000   0.40960000 2000  6   8090
2287  0.125000   0.06250000 3255 10   8190
2288  4.913000   8.35210000 2550  8   9480
2289  1.728000   2.07360000 4110 13   8680

In [79]:
head(base1 %>% filter(exp1 > 10))

  salario  lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2  exp3
1 48.07692 3.872802 0   0   0   0   1   0  0  0  0  1  31    9.61 29.791
2 11.05769 2.403126 0   0   1   0   0   0  0  0  0  1  18    3.24  5.832
3 13.94231 2.634928 1   0   0   0   0   1  0  0  0  1  25    6.25 15.625
4 28.84615 3.361977 1   0   0   0   1   0  0  0  0  1  22    4.84 10.648
5 19.23077 2.956512 1   0   1   0   0   0  0  0  0  1  42   17.64 74.088
6 19.23077 2.956512 0   0   1   0   0   0  0  0  0  1  37   13.69 50.653
  exp4     occ  occ2 ind
1  92.3521 3050 10   5070
2  10.4976 6260 19    770
3  39.0625  420  1   6990
4  23.4256 2015  6   9470
5 311.1696 5120 17   7280
6 187.4161 5240 17   5680

In [80]:
head(base1 %>% filter(sex == 1 & exp1 > 10))

head(base1  %>% filter(sex == 1 | exp1 > 10))

  salario  lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2    exp3
1 13.94231 2.634928 1   0   0   0   0   1  0  0  0  1  25.0  6.2500 15.625000
2 28.84615 3.361977 1   0   0   0   1   0  0  0  0  1  22.0  4.8400 10.648000
3 19.23077 2.956512 1   0   1   0   0   0  0  0  0  1  42.0 17.6400 74.088000
4 12.00000 2.484907 1   0   1   0   0   0  0  0  0  1  31.0  9.6100 29.791000
5 13.46154 2.599837 1   0   0   1   0   0  0  0  0  1  20.5  4.2025  8.615125
6 16.34615 2.793993 1   0   0   0   1   0  0  0  0  1  25.0  6.2500 15.625000
  exp4      occ  occ2 ind
1  39.06250  420  1   6990
2  23.42560 2015  6   9470
3 311.16960 5120 17   7280
4  92.35210 4040 13   8590
5  17.66101 3645 11   8190
6  39.06250  110  1   7870

  salario   lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2 exp3
1  9.615385 2.263364 1   0   0   0   1   0  0  0  0  1   7   0.49  0.343
2 48.076923 3.872802 0   0   0   0   1   0  0  0  0  1  31   9.61 29.791
3 11.057692 2.403126 0   0   1   0   0   0  0  0  0  1  18   3.24  5.832
4 13.942308 2.634928 1   0   0   0   0   1  0  0  0  1  25   6.25 15.625
5 28.846154 3.361977 1   0   0   0   1   0  0  0  0  1  22   4.84 10.648
6 11.730769 2.462215 1   0   0   0   1   0  0  0  0  1   1   0.01  0.001
  exp4    occ  occ2 ind
1  0.2401 3600 11   8370
2 92.3521 3050 10   5070
3 10.4976 6260 19    770
4 39.0625  420  1   6990
5 23.4256 2015  6   9470
6  0.0001 1650  5   7460

In [81]:
head(filter(base1, sex == 1 & exp1 > 10))
head(filter(base1, sex == 1 | exp1 > 10))

  salario  lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2    exp3
1 13.94231 2.634928 1   0   0   0   0   1  0  0  0  1  25.0  6.2500 15.625000
2 28.84615 3.361977 1   0   0   0   1   0  0  0  0  1  22.0  4.8400 10.648000
3 19.23077 2.956512 1   0   1   0   0   0  0  0  0  1  42.0 17.6400 74.088000
4 12.00000 2.484907 1   0   1   0   0   0  0  0  0  1  31.0  9.6100 29.791000
5 13.46154 2.599837 1   0   0   1   0   0  0  0  0  1  20.5  4.2025  8.615125
6 16.34615 2.793993 1   0   0   0   1   0  0  0  0  1  25.0  6.2500 15.625000
  exp4      occ  occ2 ind
1  39.06250  420  1   6990
2  23.42560 2015  6   9470
3 311.16960 5120 17   7280
4  92.35210 4040 13   8590
5  17.66101 3645 11   8190
6  39.06250  110  1   7870

  salario   lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2 exp3
1  9.615385 2.263364 1   0   0   0   1   0  0  0  0  1   7   0.49  0.343
2 48.076923 3.872802 0   0   0   0   1   0  0  0  0  1  31   9.61 29.791
3 11.057692 2.403126 0   0   1   0   0   0  0  0  0  1  18   3.24  5.832
4 13.942308 2.634928 1   0   0   0   0   1  0  0  0  1  25   6.25 15.625
5 28.846154 3.361977 1   0   0   0   1   0  0  0  0  1  22   4.84 10.648
6 11.730769 2.462215 1   0   0   0   1   0  0  0  0  1   1   0.01  0.001
  exp4    occ  occ2 ind
1  0.2401 3600 11   8370
2 92.3521 3050 10   5070
3 10.4976 6260 19    770
4 39.0625  420  1   6990
5 23.4256 2015  6   9470
6  0.0001 1650  5   7460

In [82]:
head(arrange(base1, exp1, salario))

  salario   lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2 exp3 exp4
1  4.250000 1.446919 1   0   0   0   0   1  0  1  0  0  0    0    0    0
2  5.128205 1.634756 1   0   0   0   0   1  1  0  0  0  0    0    0    0
3  9.135769 2.212197 0   0   0   0   0   1  0  1  0  0  0    0    0    0
4  9.615385 2.263364 1   0   0   0   0   1  0  0  1  0  0    0    0    0
5  9.615385 2.263364 1   0   0   0   0   1  0  0  1  0  0    0    0    0
6 10.025000 2.305082 1   0   0   0   0   1  0  0  0  1  0    0    0    0
  occ  occ2 ind
1 1860  5   7870
2 9620 22   4970
3 2310  8   7860
4 2430  8   7860
5 3160 10   8090
6 2540  8   7860

In [83]:
base1$dummy = "NA"
base1

     salario   lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2
1     9.615385 2.263364 1   0   0   0   1   0  0  0  0  1   7.0  0.4900
2    48.076923 3.872802 0   0   0   0   1   0  0  0  0  1  31.0  9.6100
3    11.057692 2.403126 0   0   1   0   0   0  0  0  0  1  18.0  3.2400
4    13.942308 2.634928 1   0   0   0   0   1  0  0  0  1  25.0  6.2500
5    28.846154 3.361977 1   0   0   0   1   0  0  0  0  1  22.0  4.8400
6    11.730769 2.462215 1   0   0   0   1   0  0  0  0  1   1.0  0.0100
7    19.230769 2.956512 1   0   1   0   0   0  0  0  0  1  42.0 17.6400
8    19.230769 2.956512 0   0   1   0   0   0  0  0  0  1  37.0 13.6900
9    12.000000 2.484907 1   0   1   0   0   0  0  0  0  1  31.0  9.6100
10   19.230769 2.956512 1   0   0   0   1   0  0  0  0  1   4.0  0.1600
11   17.307692 2.851151 1   0   1   0   0   0  0  0  0  1   7.0  0.4900
12   12.019231 2.486508 0   0   1   0   0   0  0  0  0  1  30.0  9.0000
13   12.019231 2.486508 1   0   0   1   0   0  0  0  0  1   5.5  0.3025
14   13.461538 2.599837 1   0   0   1   0   0  0  0  0  1  20.5  4.2025
15   16.346154 2.793993 1   0   0   0   1   0  0  0  0  1  25.0  6.2500
16   27.884615 3.328075 0   0   1   0   0   0  0  0  0  1  16.0  2.5600
17   21.600000 3.072693 0   0   1   0   0   0  0  0  0  1  27.0  7.2900
18    8.653846 2.158004 0   0   0   1   0   0  0  0  0  1   3.5  0.1225
19   19.230769 2.956512 0   0   1   0   0   0  0  0  0  1   6.0  0.3600
20   13.186813 2.579217 0   0   1   0   0   0  0  0  0  1   8.0  0.6400
21   10.683761 2.368725 1   0   0   1   0   0  0  0  0  1   6.5  0.4225
22   11.538462 2.445686 1   0   0   1   0   0  0  0  0  1   8.5  0.7225
23   17.788462 2.878550 1   0   0   0   0   1  0  0  0  1  11.0  1.2100
24   19.230769 2.956512 0   0   0   0   1   0  0  0  0  1  11.0  1.2100
25   16.304348 2.791432 1   0   0   1   0   0  0  0  0  1  24.5  6.0025
26   19.230769 2.956512 0   0   1   0   0   0  0  0  0  1   8.0  0.6400
27   14.423077 2.668829 1   0   1   0   0   0  0  0  0  1   5.0  0.2500
28   12.000000 2.484907 0   0   0   1   0   0  0  0  0  1   4.5  0.2025
29   16.826923 2.822980 0   0   0   0   1   0  0  0  0  1   8.0  0.6400
30   19.670330 2.979111 0   0   0   0   1   0  0  0  0  1  26.0  6.7600
⋮    ⋮         ⋮        ⋮   ⋮   ⋮   ⋮   ⋮   ⋮  ⋮  ⋮  ⋮  ⋮  ⋮    ⋮
5121 13.986014 2.638058 1   0   0   0   0   1  0  0  1  0   7.0  0.4900
5122 15.865385 2.764140 0   0   0   0   0   1  0  0  1  0   2.0  0.0400
5123 38.461538 3.649659 1   0   0   1   0   0  0  0  1  0   7.5  0.5625
5124 28.846154 3.361977 0   0   0   0   1   0  0  0  1  0   5.0  0.2500
5125 24.475524 3.197674 1   0   0   0   0   1  0  0  1  0  24.0  5.7600
5126 27.884615 3.328075 0   0   0   1   0   0  0  0  1  0  28.5  8.1225
5127  8.653846 2.158004 1   0   1   0   0   0  0  0  1  0  25.0  6.2500
5128 12.019231 2.486508 0   0   1   0   0   0  0  0  1  0  19.0  3.6100
5129 38.461538 3.649659 0   0   0   0   1   0  0  0  1  0   8.0  0.6400
5130 12.500000 2.525729 1   0   1   0   0   0  0  0  1  0  12.0  1.4400
5131 35.256410 3.562647 0   0   0   0   0   1  0  0  1  0   6.0  0.3600
5132 48.076923 3.872802 1   0   0   0   1   0  0  0  1  0  25.0  6.2500
5133  9.615385 2.263364 0   0   1   0   0   0  0  0  1  0  20.0  4.0000
5134 12.019231 2.486508 0   0   1   0   0   0  0  0  1  0  17.0  2.8900
5135 12.019231 2.486508 0   0   0   1   0   0  0  0  1  0  31.5  9.9225
5136 12.980769 2.563469 0   0   1   0   0   0  0  0  1  0  15.0  2.2500
5137 26.442308 3.274965 1   0   0   0   1   0  0  0  1  0  34.0 11.5600
5138 13.461538 2.599837 1   0   1   0   0   0  0  0  1  0   8.0  0.6400
5139 19.711538 2.981204 1   0   0   0   0   1  0  0  1  0   8.0  0.6400
5140 21.153846 3.051822 0   0   0   0   1   0  0  0  1  0  28.0  7.8400
5141 45.546559 3.818735 1   0   0   0   1   0  0  0  1  0   5.0  0.2500
5142 22.596154 3.117780 0   0   1   0   0   0  0  0  1  0  15.0  2.2500
5143 16.826923 2.822980 0   0   1   0   0   0  0  0  1  0  11.0  1.2100
5144 24.038462 3.179655 1   0   0   0   1   0  0  0  1  0  17.0  2.8900
5145 13.846154 2.628007 0   0   0   0   1   0  0  0  1  0  10.0  1.0000
5146 14.769231 2.692546 0   0   0   0   1   0  0  0  1  0   9.0  0.8100
5147 23.076923 3.138833 1   0   0   1   0   0  0  0  1  0  12.0  1.4400
5148 38.461538 3.649659 0   0   0   0   0   1  0  0  1  0  11.0  1.2100
5149 32.967033 3.495508 0   0   1   0   0   0  0  0  1  0  10.0  1.0000
5150 17.307692 2.851151 0   0   0   0   0   1  0  0  1  0  14.0  1.9600
     exp3      exp4         occ  occ2 ind  dummy
1     0.343000   0.24010000 3600 11   8370 NA
2    29.791000  92.35210000 3050 10   5070 NA
3     5.832000  10.49760000 6260 19    770 NA
4    15.625000  39.06250000  420  1   6990 NA
5    10.648000  23.42560000 2015  6   9470 NA
6     0.001000   0.00010000 1650  5   7460 NA
7    74.088000 311.16960000 5120 17   7280 NA
8    50.653000 187.41610000 5240 17   5680 NA
9    29.791000  92.35210000 4040 13   8590 NA
10    0.064000   0.02560000 3255 10   8190 NA
11    0.343000   0.24010000 4020 13   8270 NA
12   27.000000  81.00000000 4220 14   8270 NA
13    0.166375   0.09150625 3600 11   8270 NA
14    8.615125  17.66100625 3645 11   8190 NA
15   15.625000  39.06250000  110  1   7870 NA
16    4.096000   6.55360000 6355 19    770 NA
17   19.683000  53.14410000 6320 19    770 NA
18    0.042875   0.01500625 7410 20    570 NA
19    0.216000   0.12960000 7000 20   4690 NA
20    0.512000   0.40960000 4000 13   8680 NA
21    0.274625   0.17850625 4300 15   8590 NA
22    0.614125   0.52200625 3600 11   8190 NA
23    1.331000   1.46410000 2310  8   7860 NA
24    1.331000   1.46410000 6200 19    770 NA
25   14.706125  36.03000625   20  1   5480 NA
26    0.512000   0.40960000 4800 16   7390 NA
27    0.125000   0.06250000  430  1   7390 NA
28    0.091125   0.04100625 6330 19    770 NA
29    0.512000   0.40960000 5400 17   4870 NA
30   17.576000  45.69760000 6230 19   6570 NA
⋮    ⋮         ⋮            ⋮    ⋮    ⋮    ⋮
5121  0.343000   0.2401000  3820 12   9590 NA
5122  0.008000   0.0016000  2200  8   7870 NA
5123  0.421875   0.3164062   220  1    770 NA
5124  0.125000   0.0625000  1360  4    770 NA
5125 13.824000  33.1776000  2310  8   7860 NA
5126 23.149125  65.9750063  8140 21    770 NA
5127 15.625000  39.0625000  3930 12   7680 NA
5128  6.859000  13.0321000  2750  9   8560 NA
5129  0.512000   0.4096000   710  2   6870 NA
5130  1.728000   2.0736000  4010 13   8680 NA
5131  0.216000   0.1296000  2320  8   7860 NA
5132 15.625000  39.0625000  3255 10   8170 NA
5133  8.000000  16.0000000  4110 13   8680 NA
5134  4.913000   8.3521000  9620 22   6290 NA
5135 31.255875  98.4560063  5510 17   6380 NA
5136  3.375000   5.0625000  2010  6   9370 NA
5137 39.304000 133.6336000  2310  8   7860 NA
5138  0.512000   0.4096000  4720 16   8590 NA
5139  0.512000   0.4096000  2000  6   8090 NA
5140 21.952000  61.4656000    40  1   9170 NA
5141  0.125000   0.0625000  3255 10   8190 NA
5142  3.375000   5.0625000  9620 22   5390 NA
5143  1.331000   1.4641000  7150 20   8770 NA
5144  4.913000   8.3521000  2550  8   9480 NA
5145  1.000000   1.0000000   800  2    770 NA
5146  0.729000   0.6561000  4700 16   4970 NA
5147  1.728000   2.0736000  4110 13   8680 NA
5148  1.331000   1.4641000  1550  4   3680 NA
5149  1.000000   1.0000000  2920  9   6570 NA
5150  2.744000   3.8416000  1610  5   7460 NA

In [84]:
base1$dummy[base1$exp1 > 10] <- 1
base1

     salario   lwage    sex shs hsg scl clg ad mw so we ne exp1 exp2
1     9.615385 2.263364 1   0   0   0   1   0  0  0  0  1   7.0  0.4900
2    48.076923 3.872802 0   0   0   0   1   0  0  0  0  1  31.0  9.6100
3    11.057692 2.403126 0   0   1   0   0   0  0  0  0  1  18.0  3.2400
4    13.942308 2.634928 1   0   0   0   0   1  0  0  0  1  25.0  6.2500
5    28.846154 3.361977 1   0   0   0   1   0  0  0  0  1  22.0  4.8400
6    11.730769 2.462215 1   0   0   0   1   0  0  0  0  1   1.0  0.0100
7    19.230769 2.956512 1   0   1   0   0   0  0  0  0  1  42.0 17.6400
8    19.230769 2.956512 0   0   1   0   0   0  0  0  0  1  37.0 13.6900
9    12.000000 2.484907 1   0   1   0   0   0  0  0  0  1  31.0  9.6100
10   19.230769 2.956512 1   0   0   0   1   0  0  0  0  1   4.0  0.1600
11   17.307692 2.851151 1   0   1   0   0   0  0  0  0  1   7.0  0.4900
12   12.019231 2.486508 0   0   1   0   0   0  0  0  0  1  30.0  9.0000
13   12.019231 2.486508 1   0   0   1   0   0  0  0  0  1   5.5  0.3025
14   13.461538 2.599837 1   0   0   1   0   0  0  0  0  1  20.5  4.2025
15   16.346154 2.793993 1   0   0   0   1   0  0  0  0  1  25.0  6.2500
16   27.884615 3.328075 0   0   1   0   0   0  0  0  0  1  16.0  2.5600
17   21.600000 3.072693 0   0   1   0   0   0  0  0  0  1  27.0  7.2900
18    8.653846 2.158004 0   0   0   1   0   0  0  0  0  1   3.5  0.1225
19   19.230769 2.956512 0   0   1   0   0   0  0  0  0  1   6.0  0.3600
20   13.186813 2.579217 0   0   1   0   0   0  0  0  0  1   8.0  0.6400
21   10.683761 2.368725 1   0   0   1   0   0  0  0  0  1   6.5  0.4225
22   11.538462 2.445686 1   0   0   1   0   0  0  0  0  1   8.5  0.7225
23   17.788462 2.878550 1   0   0   0   0   1  0  0  0  1  11.0  1.2100
24   19.230769 2.956512 0   0   0   0   1   0  0  0  0  1  11.0  1.2100
25   16.304348 2.791432 1   0   0   1   0   0  0  0  0  1  24.5  6.0025
26   19.230769 2.956512 0   0   1   0   0   0  0  0  0  1   8.0  0.6400
27   14.423077 2.668829 1   0   1   0   0   0  0  0  0  1   5.0  0.2500
28   12.000000 2.484907 0   0   0   1   0   0  0  0  0  1   4.5  0.2025
29   16.826923 2.822980 0   0   0   0   1   0  0  0  0  1   8.0  0.6400
30   19.670330 2.979111 0   0   0   0   1   0  0  0  0  1  26.0  6.7600
⋮    ⋮         ⋮        ⋮   ⋮   ⋮   ⋮   ⋮   ⋮  ⋮  ⋮  ⋮  ⋮  ⋮    ⋮
5121 13.986014 2.638058 1   0   0   0   0   1  0  0  1  0   7.0  0.4900
5122 15.865385 2.764140 0   0   0   0   0   1  0  0  1  0   2.0  0.0400
5123 38.461538 3.649659 1   0   0   1   0   0  0  0  1  0   7.5  0.5625
5124 28.846154 3.361977 0   0   0   0   1   0  0  0  1  0   5.0  0.2500
5125 24.475524 3.197674 1   0   0   0   0   1  0  0  1  0  24.0  5.7600
5126 27.884615 3.328075 0   0   0   1   0   0  0  0  1  0  28.5  8.1225
5127  8.653846 2.158004 1   0   1   0   0   0  0  0  1  0  25.0  6.2500
5128 12.019231 2.486508 0   0   1   0   0   0  0  0  1  0  19.0  3.6100
5129 38.461538 3.649659 0   0   0   0   1   0  0  0  1  0   8.0  0.6400
5130 12.500000 2.525729 1   0   1   0   0   0  0  0  1  0  12.0  1.4400
5131 35.256410 3.562647 0   0   0   0   0   1  0  0  1  0   6.0  0.3600
5132 48.076923 3.872802 1   0   0   0   1   0  0  0  1  0  25.0  6.2500
5133  9.615385 2.263364 0   0   1   0   0   0  0  0  1  0  20.0  4.0000
5134 12.019231 2.486508 0   0   1   0   0   0  0  0  1  0  17.0  2.8900
5135 12.019231 2.486508 0   0   0   1   0   0  0  0  1  0  31.5  9.9225
5136 12.980769 2.563469 0   0   1   0   0   0  0  0  1  0  15.0  2.2500
5137 26.442308 3.274965 1   0   0   0   1   0  0  0  1  0  34.0 11.5600
5138 13.461538 2.599837 1   0   1   0   0   0  0  0  1  0   8.0  0.6400
5139 19.711538 2.981204 1   0   0   0   0   1  0  0  1  0   8.0  0.6400
5140 21.153846 3.051822 0   0   0   0   1   0  0  0  1  0  28.0  7.8400
5141 45.546559 3.818735 1   0   0   0   1   0  0  0  1  0   5.0  0.2500
5142 22.596154 3.117780 0   0   1   0   0   0  0  0  1  0  15.0  2.2500
5143 16.826923 2.822980 0   0   1   0   0   0  0  0  1  0  11.0  1.2100
5144 24.038462 3.179655 1   0   0   0   1   0  0  0  1  0  17.0  2.8900
5145 13.846154 2.628007 0   0   0   0   1   0  0  0  1  0  10.0  1.0000
5146 14.769231 2.692546 0   0   0   0   1   0  0  0  1  0   9.0  0.8100
5147 23.076923 3.138833 1   0   0   1   0   0  0  0  1  0  12.0  1.4400
5148 38.461538 3.649659 0   0   0   0   0   1  0  0  1  0  11.0  1.2100
5149 32.967033 3.495508 0   0   1   0   0   0  0  0  1  0  10.0  1.0000
5150 17.307692 2.851151 0   0   0   0   0   1  0  0  1  0  14.0  1.9600
     exp3      exp4         occ  occ2 ind  dummy
1     0.343000   0.24010000 3600 11   8370 NA
2    29.791000  92.35210000 3050 10   5070 1
3     5.832000  10.49760000 6260 19    770 1
4    15.625000  39.06250000  420  1   6990 1
5    10.648000  23.42560000 2015  6   9470 1
6     0.001000   0.00010000 1650  5   7460 NA
7    74.088000 311.16960000 5120 17   7280 1
8    50.653000 187.41610000 5240 17   5680 1
9    29.791000  92.35210000 4040 13   8590 1
10    0.064000   0.02560000 3255 10   8190 NA
11    0.343000   0.24010000 4020 13   8270 NA
12   27.000000  81.00000000 4220 14   8270 1
13    0.166375   0.09150625 3600 11   8270 NA
14    8.615125  17.66100625 3645 11   8190 1
15   15.625000  39.06250000  110  1   7870 1
16    4.096000   6.55360000 6355 19    770 1
17   19.683000  53.14410000 6320 19    770 1
18    0.042875   0.01500625 7410 20    570 NA
19    0.216000   0.12960000 7000 20   4690 NA
20    0.512000   0.40960000 4000 13   8680 NA
21    0.274625   0.17850625 4300 15   8590 NA
22    0.614125   0.52200625 3600 11   8190 NA
23    1.331000   1.46410000 2310  8   7860 1
24    1.331000   1.46410000 6200 19    770 1
25   14.706125  36.03000625   20  1   5480 1
26    0.512000   0.40960000 4800 16   7390 NA
27    0.125000   0.06250000  430  1   7390 NA
28    0.091125   0.04100625 6330 19    770 NA
29    0.512000   0.40960000 5400 17   4870 NA
30   17.576000  45.69760000 6230 19   6570 1
⋮    ⋮         ⋮            ⋮    ⋮    ⋮    ⋮
5121  0.343000   0.2401000  3820 12   9590 NA
5122  0.008000   0.0016000  2200  8   7870 NA
5123  0.421875   0.3164062   220  1    770 NA
5124  0.125000   0.0625000  1360  4    770 NA
5125 13.824000  33.1776000  2310  8   7860 1
5126 23.149125  65.9750063  8140 21    770 1
5127 15.625000  39.0625000  3930 12   7680 1
5128  6.859000  13.0321000  2750  9   8560 1
5129  0.512000   0.4096000   710  2   6870 NA
5130  1.728000   2.0736000  4010 13   8680 1
5131  0.216000   0.1296000  2320  8   7860 NA
5132 15.625000  39.0625000  3255 10   8170 1
5133  8.000000  16.0000000  4110 13   8680 1
5134  4.913000   8.3521000  9620 22   6290 1
5135 31.255875  98.4560063  5510 17   6380 1
5136  3.375000   5.0625000  2010  6   9370 1
5137 39.304000 133.6336000  2310  8   7860 1
5138  0.512000   0.4096000  4720 16   8590 NA
5139  0.512000   0.4096000  2000  6   8090 NA
5140 21.952000  61.4656000    40  1   9170 1
5141  0.125000   0.0625000  3255 10   8190 NA
5142  3.375000   5.0625000  9620 22   5390 1
5143  1.331000   1.4641000  7150 20   8770 1
5144  4.913000   8.3521000  2550  8   9480 1
5145  1.000000   1.0000000   800  2    770 NA
5146  0.729000   0.6561000  4700 16   4970 NA
5147  1.728000   2.0736000  4110 13   8680 1
5148  1.331000   1.4641000  1550  4   3680 1
5149  1.000000   1.0000000  2920  9   6570 NA
5150  2.744000   3.8416000  1610  5   7460 1

## If condition
The body of the if condition is excuted if the `test_expression` is `TRUE`. The ouput of the test expression should be a `boolean`variable. 

<img src="if-statement.jpg" alt="image info" />

The structure of the code is the following: <br><br>

<font size="4">
if <font color='green'>(test expresion)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code to excute<br>
}</font>

The function **if** tests the veracity of a logic expression. The result of test statement should be a **<font color='red'>boolean</font>**. In other words, the output of the test statemen must be **<font color='red'>TRUE</font>** or **<font color='red'>FALSE</font>**. To sum, any function that its output is **boolean** can be used as a test expression in the **if** function.

In [85]:
x <- -4

if(x > 0){
print("Non-negative number")
}

### Tests more than 1 expression

We will use **else if**. This function allows us to add more test expressions.  <br><br>

<font size="3">
if <font color='green'>(Test expression 1)</font>{ <br>
&nbsp;&nbsp;&nbsp;&nbsp;Code1<br><br>
} else if <font color='green'>(Test expression 2)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code2<br><br>
} else if <font color='green'>(Test expression 3)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code3<br><br>
} else if <font color='green'>(Test expression 4)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code4<br><br>
} else if <font color='green'>(Test expression 5)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code5<br><br>
}else{<br>&nbsp;&nbsp;&nbsp;&nbsp;Code6<br><br>
}</font>

R will read the conditions of the test in order. If **Test expression 1** is `TRUE`, the rest of the test expressions will not be evaluated. R execute **Code2** and will not test the next conditions. <br>

In case no Test expression is `TRUE`, the **Code6** will be excuted.

In [86]:
if (3 > 9) {
    print('xsd')
}

In [87]:
if ((z <- 12) >= 9){
    print('xsd')
}

[1] "xsd"

In [88]:
x <- 5

if (x < 0) {
print("Negative number")
} else if (x > 0) {
print("Positive number")
} else {
print("Zero")}

[1] "Positive number"

## Loops
A for loop is used for iterating over a sequence. It has the following structure:

<img src="for_loop.jpg" alt="image info" />

In [89]:
age = c( 20 , 27 , 31 , 25 , 28 )
years = c( 2023 , 2021 , 2022 , 2026 , 2027, 2028 )
length

function (x)  .Primitive("length")

In [90]:
age_finish <- numeric( length = length( age ) )
age_finish

[1] 0 0 0 0 0

In [91]:
for ( i in c(1:length(age)) ) {
  print(i + 1)
}

[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [92]:
for ( i in c( 1:length( age ) ) ) {
  age_finish[ i ] = age[ i ] + years[ i ] - 2021
}
print( age_finish )

[1] 22 27 32 30 34

## Functions in R

- `Arguments` − Elements that the function will use to make operations. Arguments are optional and can have default values.

- `Function Body` − This defines what your function does.
- `return` − Specifies the variable that will be the output of the function.

Return Value − The return value of a function is the last expression in the function body to be evaluated.
<br><br>
<font size="4">
function <font color='green'>(arg_1, arg_2, ...) </font>{<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Function body <br>
    <br> &nbsp;&nbsp;&nbsp;&nbsp;return <br>
}</font>

In [93]:
demean<- function(x){ 
    new_var = x - mean(x)
    new_var_2 = new_var^4
    return( new_var_2 )
}

In [94]:
vector_2 = c(2 , 3, 4)

In [95]:
demean( vector_2 )

[1] 1 0 1

## Linear Regressions

## Packages

In [96]:
install.packages( "glmnet" )

Installing package into 'C:/Users/Roberto/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'glmnet' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto\AppData\Local\Temp\RtmpATAaZL\downloaded_packages

In [97]:
library(glmnet)

Loading required package: Matrix

Loaded glmnet 4.1-4

In [99]:

# Reading data and converting to dataframe
Penn <- as.data.frame(read.table("../../../data/penn_jae.dat", header=T ))
dim(Penn)

[1] 13913    23

In [100]:
Penn

      abdt  tg inuidur1 inuidur2 female black hispanic othrace dep q1 ⋯ q5 q6
1     10824 0  18       18       0      0     0        0       2   0  ⋯ 1  0
2     10635 2   7        3       0      0     0        0       0   0  ⋯ 0  0
3     10551 5  18        6       1      0     0        0       0   0  ⋯ 0  0
4     10824 0   1        1       0      0     0        0       0   0  ⋯ 1  0
5     10747 0  27       27       0      0     0        0       0   0  ⋯ 0  0
6     10544 6   7        7       0      0     0        0       0   0  ⋯ 0  0
7     10845 1   1        1       0      0     0        0       0   0  ⋯ 1  0
8     10670 3   3        3       1      0     0        0       2   0  ⋯ 0  0
9     10768 3  28       11       1      0     0        0       0   0  ⋯ 0  0
10    10754 2  20       20       1      0     0        0       0   0  ⋯ 0  0
11    10712 3   6        6       0      0     0        0       2   0  ⋯ 0  0
12    10607 4   9        9       0      0     0        0       0   0  ⋯ 0  0
13    10831 0  27       27       0      0     0        0       1   0  ⋯ 1  0
14    10845 0  27       27       1      0     0        0       0   0  ⋯ 1  0
15    10831 0   9        9       1      0     0        0       1   0  ⋯ 1  0
16    10551 3  27       27       1      0     0        0       0   0  ⋯ 0  0
17    10859 0  27       27       1      0     0        0       1   0  ⋯ 0  1
18    10740 1  15       15       1      0     0        0       2   0  ⋯ 0  0
19    10537 1   1        1       0      1     0        0       0   0  ⋯ 0  0
20    10663 6  26       26       1      0     0        0       0   0  ⋯ 0  0
21    10656 5  30        9       0      0     0        0       1   0  ⋯ 0  0
22    10628 2  27       27       0      0     0        0       0   0  ⋯ 0  0
23    10516 0  15       15       1      0     0        0       0   0  ⋯ 0  0
24    10803 2   3        3       1      0     0        0       0   0  ⋯ 1  0
25    10663 0  28       11       1      0     0        0       0   0  ⋯ 0  0
26    10747 0  12       12       1      0     0        0       2   0  ⋯ 0  0
27    10551 4  22       22       1      0     1        0       2   0  ⋯ 0  0
28    10635 2  17       10       1      0     0        0       0   0  ⋯ 0  0
29    10761 2  13       13       0      0     0        0       0   0  ⋯ 0  0
30    10586 1   8        8       1      0     0        0       1   0  ⋯ 0  0
⋮     ⋮     ⋮  ⋮        ⋮        ⋮      ⋮     ⋮        ⋮       ⋮   ⋮  ⋱ ⋮  ⋮
13884 10873 3  25       25       0      0     1        0       0   0  ⋯ 0  1
13885 10873 1  11       11       0      0     1        0       0   0  ⋯ 0  1
13886 10614 6   5        5       0      0     1        0       2   0  ⋯ 0  0
13887 10621 3   1        1       0      0     1        0       0   0  ⋯ 0  0
13888 10642 0  10       10       0      0     0        0       0   0  ⋯ 0  0
13889 10796 3  10       10       0      0     0        0       2   0  ⋯ 1  0
13890 10852 5   4        4       1      0     0        0       0   0  ⋯ 1  0
13891 10670 0  20       20       0      0     0        0       0   0  ⋯ 0  0
13892 10530 0  27       27       1      0     0        1       0   0  ⋯ 0  0
13893 10691 0  27       27       1      0     0        1       0   0  ⋯ 0  0
13894 10796 0  15       15       1      0     0        1       0   0  ⋯ 1  0
13895 10635 4  20       20       0      0     0        1       0   0  ⋯ 0  0
13896 10859 0   1        1       1      0     0        1       0   0  ⋯ 0  1
13897 10663 5   1        1       1      1     0        0       0   0  ⋯ 0  0
13898 10789 5   2        2       1      0     0        1       2   0  ⋯ 1  0
13899 10796 0  23       23       0      1     0        0       0   0  ⋯ 1  0
13900 10740 4  13       13       1      1     0        0       0   0  ⋯ 0  0
13901 10845 0   6        6       1      0     0        1       2   0  ⋯ 1  0
13902 10705 2  14       14       0      1     0        0       0   0  ⋯ 0  0
13903 10768 3  28       28       0      0     1        0       0   0  ⋯ 1  0
13904 10747 3  15       15       1      0     1        0       0   0  ⋯ 0  0
13905 10628 4  10       10       0      0     1        0       0   0  ⋯ 0  0
13906 10523 4   4        4       0      0     1        0       2   0  ⋯ 0  0
13907 10558 0   9        9       0      0     0        0       2   0  ⋯ 0  0
13908 10621 1   1        1       0      0     0        0       0   0  ⋯ 0  0
13909 10831 5  27       27       0      0     0        0       0   0  ⋯ 1  0
13910 10677 2   4        4       1      0     0        0       0   0  ⋯ 0  0
13911 10817 4   4        4       0      0     0        0       0   0  ⋯ 1  0
13912 10691 0  27       27       0      0     0        0       0   0  ⋯ 0  0
13913 10677 5  25       25       0      0     0        0       0   0  ⋯ 0  0
      recall agelt35 agegt54 durable nondurable lusd husd muld
1     0      0       0       0       0          0    1    0
2     0      1       0       0       0          1    0    0
3     1      0       1       0       0          0    0    0
4     0      0       0       0       0          1    0    0
5     0      0       0       0       0          1    0    0
6     0      0       0       0       0          0    0    1
7     0      1       0       0       0          1    0    0
8     0      1       0       0       0          0    0    1
9     0      0       0       0       0          0    0    1
10    0      0       0       0       0          0    0    1
11    0      0       0       1       0          0    0    1
12    0      1       0       0       0          0    0    1
13    0      0       1       1       0          1    0    0
14    0      0       1       0       0          1    0    0
15    0      0       1       0       0          1    0    0
16    0      1       0       0       1          1    0    0
17    0      0       0       0       0          1    0    0
18    0      0       0       0       0          1    0    0
19    0      1       0       0       0          0    0    1
20    0      0       1       0       0          0    1    0
21    0      0       0       0       0          1    0    0
22    0      0       0       0       0          0    0    1
23    0      0       0       0       0          1    0    0
24    0      0       0       0       0          0    1    0
25    0      0       1       0       0          1    0    0
26    1      1       0       0       0          0    0    1
27    0      1       0       0       0          0    0    1
28    0      0       0       0       0          1    0    0
29    0      1       0       0       0          0    0    1
30    0      0       0       0       0          0    0    1
⋮     ⋮      ⋮       ⋮       ⋮       ⋮          ⋮    ⋮    ⋮
13884 0      1       0       0       0          1    0    0
13885 0      1       0       0       0          0    0    1
13886 0      1       0       1       0          0    0    1
13887 0      1       0       1       0          0    0    1
13888 0      1       0       1       0          1    0    0
13889 0      0       0       1       0          1    0    0
13890 0      0       0       1       0          1    0    0
13891 0      1       0       1       0          0    1    0
13892 0      1       0       0       0          0    0    1
13893 0      0       0       1       0          1    0    0
13894 0      1       0       1       0          1    0    0
13895 0      1       0       0       0          0    0    1
13896 0      1       0       0       0          1    0    0
13897 0      0       0       0       0          1    0    0
13898 0      1       0       1       0          1    0    0
13899 0      0       0       0       0          0    0    1
13900 1      1       0       0       0          1    0    0
13901 0      0       0       0       1          0    0    1
13902 0      0       0       1       0          0    0    1
13903 1      1       0       0       0          1    0    0
13904 0      1       0       0       0          1    0    0
13905 0      1       0       0       0          0    0    1
13906 0      0       0       0       0          0    0    1
13907 0      1       0       0       0          1    0    0
13908 0      1       0       0       0          1    0    0
13909 1      0       1       1       0          0    1    0
13910 0      0       1       0       0          1    0    0
13911 0      0       1       0       0          0    0    0
13912 0      0       1       1       0          1    0    0
13913 0      0       1       0       1          0    1    0

In [101]:
#Number of rows
n <- dim(Penn)[1]

# Number of columns
p_1 <- dim(Penn)[2]

In [102]:
# Filtering data to tg==4 | tg==0
Penn<- subset(Penn, tg==4 | tg==0)

# we are making the columns of the data frame as vectors available with its own name
attach(Penn)

In [103]:
T4 <- (tg==4)
typeof(T4)

[1] "logical"

In [104]:
summary(T4)

   Mode   FALSE    TRUE
logical    3354    1745

### Formula
For more information [link1](https://thomasleeper.com/Rcourse/Tutorials/formulae.html), [link2](https://www.datacamp.com/community/tutorials/r-formula-tutorial).

In [105]:
#install.packages( "lmtest" )
#install.packages( "sandwich" )
library(lmtest)
library(sandwich)
# Suggestion for update your R version

Installing package into 'C:/Users/Roberto/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'lmtest' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto\AppData\Local\Temp\RtmpATAaZL\downloaded_packages

Installing package into 'C:/Users/Roberto/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'sandwich' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto\AppData\Local\Temp\RtmpATAaZL\downloaded_packages

Loading required package: zoo


Attaching package: 'zoo'


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

In [117]:
# Formula regression
# Generation of formulas for regressions
# The class formula

formula1 <- T4 ~ female

formula2 <-  T4 ~ female + black

# We include only the interaction

formula3 <-  T4 ~ female + black + female:(black + lusd)

# We include the two terms and their interaction

formula4 <-  T4 ~ female*black

# drop intercep

formula5 <-  T4 ~ -1 + female + black + female:black

formula5 <-  T4 ~ 0 + female + black + female:black

# polinomial independent varibles

formula6 <- T4 ~ -1 + female + black + female:black + lusd + lusd^2 

# interaction effects & categorical variables 

formula7 <-  T4~(female+black+othrace+factor(dep)+q2+q3+q4+q5+q6+agelt35+agegt54+durable+lusd+husd)^2

In [ ]:
all.vars(formula1)

In [ ]:
# We can use multiple independent variables b simply separating them with the plus symbol(+)

formula2 <- (T4 ~ female + black )
# See the variables in the formula
all.vars( formula2 )

In [108]:
formula3 <- (T4 ~ female - black )
print( terms( formula3 ) )

T4 ~ female - black
attr(,"variables")
list(T4, female, black)
attr(,"factors")
       female
T4          0
female      1
black       0
attr(,"term.labels")
[1] "female"
attr(,"order")
[1] 1
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>

In [ ]:
# Interactions terms
# We include the two terms and their interaction
formula5  <- (T4 ~ female * black)
print( terms( formula5 ) )

In [116]:

# We include only the interaction
formula6  <- (T4 ~ female:(black+lusd))
#print( terms( formula6 ) )
formula6

T4 ~ female:(black + lusd)

In [ ]:
# Factor in regression Analysis
# dep is a factor variable but as defaul it is a vector

class(dep)

#factor(dep) == as.factor( dep )

# we need to specify that dep is a factor variable in a regression formula to not be treated as a numeric vector
## by default, the factor's first level treated as a baseline

formula6  <- (T4 ~  female * black + factor( dep ) )
print( terms( formula6 ) )

formula7  <- (T4 ~  female * black + dep )
print( terms( formula7 ) )

In [119]:
# regression

reg <- lm(formula3, Penn)
#summary(reg )

summary( reg )$coefficient
summary( reg )$r.squared

             Estimate    Std. Error t value    Pr(>|t|)
(Intercept)   0.34601044 0.00916312 37.7612034 2.422046e-275
female       -0.01729238 0.01595743 -1.0836568  2.785683e-01
black        -0.02108047 0.02673466 -0.7885071  4.304368e-01
female:black  0.06188757 0.04119282  1.5023873  1.330591e-01
female:lusd   0.02338764 0.02362259  0.9900541  3.221947e-01

[1] 0.0006192271

In [ ]:
names(reg)
typeof(reg$residuals)

In [ ]:
summary(reg)$coefficients

In [ ]:
reg <- lm(formula3, Penn)

summary( reg )$coefficient

In [ ]:
reg <- lm(formula7, Penn)

summary( reg )$coefficient

In [ ]:
# We can update formulas 
formula_modelA  <- (T4 ~  female + black + lusd + lusd ^ 2 )
print( terms( formula_modelA ) )
class( formula_modelA )

# formula for model B
formula_modelB  <- update( formula_modelA, ~ . + factor(dep))
print( terms( formula_modelB ) )

## Regressions Objects
We will understand the output from a regression

In [ ]:
key_columns  <-  c('female', 'black', 'lusd' , 'dep', 'T4')

In [ ]:
data2  <-  data.frame( Penn[(names( Penn ) %in% key_columns ) ] )

In [ ]:
data2

In [ ]:
# Regression
reg1 <- lm(formula_modelB , data2 )

# The output is a list of elements
typeof(reg1)
is.list( reg1 )
# All the elements in the list are detailed in the table bellow.
names(summary( reg1 ))

In [ ]:
summary(reg1)$aliased

In [ ]:
cat("Parameters: ")
summary(reg1)$coefficients

cat("R2:", summary(reg1)$r.squared,'\n')

print("Predictived values:")

predict(reg1)

In [ ]:
# Summary of regression is a list
is.list(summary( reg1 ))
is.data.frame(summary( reg1 ))
is.matrix(summary( reg1 )$coefficients)

| Elements 	| Definition 	|
|---	|---	|
| coefficients 	| Vector of coefficients. 	|
| residuals 	| Vector of residuals. 	|
| effects 	| Vector of the uncorrelated single-degree-of-freedom <br>values obtained by projecting the data onto the successive <br>orthogonal subspaces generated by the QR decomposition <br>during the fitting process. 	|
| rank 	| Number of independent columns. 	|
| fitted.values 	| Vector of fitted values. 	|
| qr 	| The QR decomposition. 	|
| df.residual 	| The degrees of freedom of the residuals. 	|
| contrasts 	| A contrast is a linear combination of variables <br>that allows comparison of different treatments. 	|
| xlevels 	| Levels of the factor variables. 	|
| call 	| The formula. 	|
| terms 	| Variables of the regression. 	|
| model 	| DataFrame of the variables in the model. 	|

#### Predictions
We can get the vector of predictions using the formula `predict`.

In [ ]:
new_obs  <- data.frame(matrix( c(0, 0, 1 , 1), ncol= 4, dimnames = list( c() , c( "female" , "black" , "dep", "lusd"  ) ) ))

In [ ]:
new_obs

In [ ]:
y_hat  <- predict(reg1,  new_obs )
y_hat