* Python code replication of: " https://www.kaggle.com/janniskueck/pm1-notebook1-prediction-newdata "
* Created by: Alexander Quispe

This notebook contains an example for teaching.

# Introduction

In labor economics an important question is what determines the wage of workers. This is a causal question, but we could begin to investigate from a predictive perspective.

In the following wage example,  Y  is the hourly wage of a worker and  X  is a vector of worker's characteristics, e.g., education, experience, gender. Two main questions here are:

* How to use job-relevant characteristics, such as education and experience, to best predict wages?

* What is the difference in predicted wages between men and women with the same job-relevant characteristics?

In this lab, we focus on the prediction question first.

# Data

The data set we consider is from the March Supplement of the U.S. Current Population Survey, year 2015. We select white non-hispanic individuals, aged 25 to 64 years, and working more than 35 hours per week during at least 50 weeks of the year. We exclude self-employed workers; individuals living in group quarters; individuals in the military, agricultural or private household sectors; individuals with inconsistent reports on earnings and employment status; individuals with allocated or missing information in any of the variables used in the analysis; and individuals with hourly wage below  3 .

The variable of interest  Y  is the hourly wage rate constructed as the ratio of the annual earnings to the total number of hours worked, which is constructed in turn as the product of number of weeks worked and the usual number of hours worked per week. In our analysis, we also focus on single (never married) workers. The final sample is of size  **n=5150** .

# Data analysis

We start by loading the data set.

In [2]:
# Import relevant packages
import pandas as pd
import numpy as np
#import pyreadr

In [3]:
#rdata_read = pyreadr.read_r("../data/wage2015_subsample_inference.Rdata")
#data = rdata_read[ 'data' ]

data  = pd.read_csv(r'../../../data/wage2015_subsample_inference.csv')

data['occ']=pd.Categorical(data.occ)
data['occ2']=pd.Categorical(data.occ2)
data['ind']=pd.Categorical(data.ind)
data['ind2']=pd.Categorical(data.ind2)


type(data)
data.shape

(5150, 21)

Let's have a look at the structure of the data.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5150 entries, 0 to 5149
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rownames  5150 non-null   int64
 1   wage      5150 non-null   float64
 2   lwage     5150 non-null   float64
 3   sex       5150 non-null   float64
 4   shs       5150 non-null   float64
 5   hsg       5150 non-null   float64
 6   scl       5150 non-null   float64
 7   clg       5150 non-null   float64
 8   ad        5150 non-null   float64
 9   mw        5150 non-null   float64
 10  so        5150 non-null   float64
 11  we        5150 non-null   float64
 12  ne        5150 non-null   float64
 13  exp1      5150 non-null   float64
 14  exp2      5150 non-null   float64
 15  exp3      5150 non-null   float64
 16  exp4      5150 non-null   float64
 17  occ       5150 non-null   category
 18  occ2      5150 non-null   category
 19  ind       5150 non-null   category
 20  ind2      5150 non-null   category
dtypes: category(4), float64(16), int64(1)
memory usage: 740.4 KB

***Variable description***

- occ : occupational classification
- ind : industry classification
- lwage : log hourly wage
- sex : gender (1 female) (0 male)
- shs : some high school
- hsg : High school graduated
- scl : Some College
- clg: College Graduate
- ad: Advanced Degree
- ne: Northeast
- mw: Midwest
- so: South
- we: West
- exp1: experience

In [7]:
data

,rownames,wage,lwage,sex,shs,hsg,scl,clg,ad,mw,...,we,ne,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2
0,10,9.615385,2.263364,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,7.0,0.49,0.343,0.2401,3600.0,11,8370.0,18
1,12,48.076923,3.872802,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,31.0,9.61,29.791,92.3521,3050.0,10,5070.0,9
2,15,11.057692,2.403126,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,18.0,3.24,5.832,10.4976,6260.0,19,770.0,4
3,18,13.942308,2.634928,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,25.0,6.25,15.625,39.0625,420.0,1,6990.0,12
4,19,28.846154,3.361977,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,22.0,4.84,10.648,23.4256,2015.0,6,9470.0,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5145,32620,14.769231,2.692546,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,9.0,0.81,0.729,0.6561,4700.0,16,4970.0,9
5146,32624,23.076923,3.138833,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,12.0,1.44,1.728,2.0736,4110.0,13,8680.0,20
5147,32626,38.461538,3.649659,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,11.0,1.21,1.331,1.4641,1550.0,4,3680.0,6
5148,32631,32.967033,3.495508,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,10.0,1.00,1.000,1.0000,2920.0,9,6570.0,11
5149,32643,17.307692,2.851151,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,14.0,1.96,2.744,3.8416,1610.0,5,7460.0,14

In [4]:
data.describe()

,wage,lwage,sex,shs,hsg,scl,clg,ad,mw,so,we,ne,exp1,exp2,exp3,exp4
count,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000
mean,23.410410,2.970787,0.444466,0.023301,0.243883,0.278058,0.317670,0.137087,0.259612,0.296505,0.216117,0.227767,13.760583,3.018925,8.235867,25.118038
std,21.003016,0.570385,0.496955,0.150872,0.429465,0.448086,0.465616,0.343973,0.438464,0.456761,0.411635,0.419432,10.609465,4.000904,14.488962,53.530225
min,3.021978,1.105912,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.461538,2.599837,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.250000,0.125000,0.062500
50%,19.230769,2.956512,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,1.000000,1.000000
75%,27.777778,3.324236,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,21.000000,4.410000,9.261000,19.448100
max,528.845673,6.270697,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,47.000000,22.090000,103.823000,487.968100

We are constructing the output variable  **Y**  and the matrix  **Z**  which includes the characteristics of workers that are given in the data.

In [13]:
Y = np.log2(data['wage']) 
n = len(Y)
z = data.loc[:, ~data.columns.isin(['wage', 'lwage','Unnamed: 0'])]
p = z.shape[1]

print("Number of observation:", n, '\n')
print( "Number of raw regressors:", p)

Number of observation: 5150

Number of raw regressors: 19

For the outcome variable *wage* and a subset of the raw regressors, we calculate the empirical mean to get familiar with the data.

In [14]:
Z_subset = data.loc[:, data.columns.isin(["lwage","sex","shs","hsg","scl","clg","ad","mw","so","we","ne","exp1"])]
table = Z_subset.mean(axis=0)
table

lwage     2.970787
sex       0.444466
shs       0.023301
hsg       0.243883
scl       0.278058
clg       0.317670
ad        0.137087
mw        0.259612
so        0.296505
we        0.216117
ne        0.227767
exp1     13.760583
dtype: float64

In [16]:
table = pd.DataFrame(data=table, columns={"Sample mean":"0"} )
table.index
index1 = list(table.index)
index2 = ["Log Wage","Sex","Some High School","High School Graduate",\
          "Some College","College Graduate", "Advanced Degree","Midwest",\
          "South","West","Northeast","Experience"]

In [17]:
table

       Sample mean
lwage     2.970787
sex       0.444466
shs       0.023301
hsg       0.243883
scl       0.278058
clg       0.317670
ad        0.137087
mw        0.259612
so        0.296505
we        0.216117
ne        0.227767
exp1     13.760583

In [18]:
table = table.rename(index=dict(zip(index1,index2)))
table

                      Sample mean
Log Wage                 2.970787
Sex                      0.444466
Some High School         0.023301
High School Graduate     0.243883
Some College             0.278058
College Graduate         0.317670
Advanced Degree          0.137087
Midwest                  0.259612
South                    0.296505
West                     0.216117
Northeast                0.227767
Experience              13.760583

E.g., the share of female workers in our sample is ~44% ($sex=1$ if female).

Alternatively, we can also print the table as latex.

In [19]:
print(table.to_latex())

\begin{tabular}{lr}
\toprule
{} &  Sample mean \\
\midrule
Log Wage             &     2.970787 \\
Sex                  &     0.444466 \\
Some High School     &     0.023301 \\
High School Graduate &     0.243883 \\
Some College         &     0.278058 \\
College Graduate     &     0.317670 \\
Advanced Degree      &     0.137087 \\
Midwest              &     0.259612 \\
South                &     0.296505 \\
West                 &     0.216117 \\
Northeast            &     0.227767 \\
Experience           &    13.760583 \\
\bottomrule
\end{tabular}

## Prediction Question

Now, we will construct a prediction rule for hourly wage $Y$, which depends linearly on job-relevant characteristics $X$:

\begin{equation}\label{decompose}
Y = \beta'X+ \epsilon.
\end{equation}

Our goals are

* Predict wages  using various characteristics of workers.

* Assess the predictive performance using the (adjusted) sample MSE, the (adjusted) sample $R^2$ and the out-of-sample MSE and $R^2$.


We employ two different specifications for prediction:


1. Basic Model:   $X$ consists of a set of raw regressors (e.g. gender, experience, education indicators,  occupation and industry indicators, regional indicators).


2. Flexible Model:  $X$ consists of all raw regressors from the basic model plus occupation and industry indicators, transformations (e.g., ${exp}^2$ and ${exp}^3$) and additional two-way interactions of polynomial in experience with other regressors. An example of a regressor created through a two-way interaction is *experience* times the indicator of having a *college degree*.

Using the **Flexible Model**, enables us to approximate the real relationship by a
 more complex regression model and therefore to reduce the bias. The **Flexible Model** increases the range of potential shapes of the estimated regression function. In general, flexible models often deliver good prediction accuracy but give models which are harder to interpret.

Now, let us fit both models to our data by running ordinary least squares (ols):

In [20]:
# Import packages for OLS regression
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [21]:
# 1. basic model
basic = 'lwage ~ sex + exp1 + shs + hsg+ scl + clg + mw + so + we + occ2+ ind2'
basic_results = smf.ols(basic , data=data).fit()
print(basic_results.summary()) # estimated coefficients
print( "Number of regressors in the basic model:",len(basic_results.params), '\n')  # number of regressors in the Basic Model

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.310
Model:                            OLS   Adj. R-squared:                  0.303
Method:                 Least Squares   F-statistic:                     45.83
Date:                Thu, 31 Mar 2022   Prob (F-statistic):               0.00
Time:                        23:38:25   Log-Likelihood:                -3459.9
No. Observations:                5150   AIC:                             7022.
Df Residuals:                    5099   BIC:                             7356.
Df Model:                          50
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.7222      0.080     46.330      0.000       3.565       3.880
occ2[T.2]     -0.0765      0.034     -2.236      0.025      -0.144      -0.009
occ2[T.3]     -0.0347      0.039     -0.895      0.371      -0.111       0.041
occ2[T.4]     -0.0962      0.052     -1.853      0.064      -0.198       0.006
occ2[T.5]     -0.1879      0.060     -3.111      0.002      -0.306      -0.070
occ2[T.6]     -0.4149      0.050     -8.263      0.000      -0.513      -0.316
occ2[T.7]     -0.0460      0.057     -0.814      0.416      -0.157       0.065
occ2[T.8]     -0.3778      0.044     -8.601      0.000      -0.464      -0.292
occ2[T.9]     -0.2158      0.046     -4.678      0.000      -0.306      -0.125
occ2[T.10]    -0.0106      0.040     -0.268      0.789      -0.088       0.067
occ2[T.11]    -0.4558      0.059     -7.669      0.000      -0.572      -0.339
occ2[T.12]    -0.3076      0.056     -5.541      0.000      -0.416      -0.199
occ2[T.13]    -0.3614      0.046     -7.937      0.000      -0.451      -0.272
occ2[T.14]    -0.4995      0.051     -9.867      0.000      -0.599      -0.400
occ2[T.15]    -0.4645      0.052     -8.973      0.000      -0.566      -0.363
occ2[T.16]    -0.2337      0.032     -7.206      0.000      -0.297      -0.170
occ2[T.17]    -0.4126      0.028    -14.784      0.000      -0.467      -0.358
occ2[T.18]    -0.3404      0.197     -1.731      0.083      -0.726       0.045
occ2[T.19]    -0.2415      0.049     -4.880      0.000      -0.338      -0.144
occ2[T.20]    -0.2126      0.041     -5.201      0.000      -0.293      -0.132
occ2[T.21]    -0.2884      0.038     -7.573      0.000      -0.363      -0.214
occ2[T.22]    -0.4224      0.041    -10.187      0.000      -0.504      -0.341
ind2[T.3]     -0.1168      0.098     -1.187      0.235      -0.310       0.076
ind2[T.4]     -0.2445      0.077     -3.164      0.002      -0.396      -0.093
ind2[T.5]     -0.2735      0.081     -3.376      0.001      -0.432      -0.115
ind2[T.6]     -0.2494      0.078     -3.193      0.001      -0.402      -0.096
ind2[T.7]     -0.1396      0.093     -1.499      0.134      -0.322       0.043
ind2[T.8]     -0.2429      0.094     -2.583      0.010      -0.427      -0.059
ind2[T.9]     -0.3875      0.077     -5.060      0.000      -0.538      -0.237
ind2[T.10]    -0.1939      0.084     -2.301      0.021      -0.359      -0.029
ind2[T.11]    -0.1691      0.082     -2.052      0.040      -0.331      -0.008
ind2[T.12]    -0.0774      0.079     -0.980      0.327      -0.232       0.077
ind2[T.13]    -0.1726      0.090     -1.915      0.056      -0.349       0.004
ind2[T.14]    -0.1870      0.077     -2.434      0.015      -0.338      -0.036
ind2[T.15]    -0.3254      0.149     -2.185      0.029      -0.617      -0.033
ind2[T.16]    -0.3154      0.082     -3.866      0.000      -0.475      -0.155
ind2[T.17]    -0.3044      0.081     -3.773      0.000      -0.463      -0.146
ind2[T.18]    -0.3354      0.078     -4.314      0.000      -0.488      -0.183
ind2[T.19]    -0.3741      0.088     -4.256      0.000      -0.546      -0.202
ind2[T.20]    -0.5519      0.082     -6.759      0.000      -0.712      -0.392
ind2[T.21]    -0.3167      0.080     -3.946      0.000      -0.474      -0.159
ind2[T.22]    -0.1190      0.079     -1.503      0.133      -0.274       0.036
sex           -0.0729      0.015     -4.848      0.000      -0.102      -0.043
exp1           0.0086      0.001     13.106      0.000       0.007       0.010
shs           -0.5928      0.051    -11.726      0.000      -0.692      -0.494
hsg           -0.5043      0.027    -18.626      0.000      -0.557      -0.451
scl           -0.4120      0.025    -16.347      0.000      -0.461      -0.363
clg           -0.1822      0.023     -7.939      0.000      -0.227      -0.137
mw            -0.0275      0.019     -1.425      0.154      -0.065       0.010
so            -0.0345      0.019     -1.842      0.066      -0.071       0.002
we             0.0172      0.020      0.859      0.391      -0.022       0.057
==============================================================================
Omnibus:                      437.645   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1862.313
Skew:                           0.322   Prob(JB):                         0.00
Kurtosis:                       5.875   Cond. No.                         885.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Number of regressors in the basic model: 51

##### Note that the basic model consists of $51$ regressors.

In [22]:
# 2. flexible model
flex = 'lwage ~ sex + shs+hsg+scl+clg+occ2+ind2+mw+so+we + (exp1+exp2+exp3+exp4)*(shs+hsg+scl+clg+occ2+ind2+mw+so+we)'
flex_results_0 = smf.ols(flex , data=data)
flex_results = smf.ols(flex , data=data).fit()
print(flex_results.summary()) # estimated coefficients
print( "Number of regressors in the basic model:",len(flex_results.params), '\n') # number of regressors in the Flexible Model

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.351
Model:                            OLS   Adj. R-squared:                  0.319
Method:                 Least Squares   F-statistic:                     10.83
Date:                Thu, 31 Mar 2022   Prob (F-statistic):          2.69e-305
Time:                        23:38:49   Log-Likelihood:                -3301.9
No. Observations:                5150   AIC:                             7096.
Df Residuals:                    4904   BIC:                             8706.
Df Model:                         245
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           3.8603      0.429      9.006      0.000       3.020       4.701
occ2[T.2]           0.1613      0.130      1.244      0.214      -0.093       0.416
occ2[T.3]           0.2102      0.169      1.246      0.213      -0.121       0.541
occ2[T.4]           0.0709      0.184      0.386      0.700      -0.289       0.431
occ2[T.5]          -0.3960      0.189     -2.100      0.036      -0.766      -0.026
occ2[T.6]          -0.2311      0.187     -1.236      0.217      -0.598       0.135
occ2[T.7]           0.3147      0.194      1.621      0.105      -0.066       0.695
occ2[T.8]          -0.1875      0.169     -1.108      0.268      -0.519       0.144
occ2[T.9]          -0.3390      0.167     -2.027      0.043      -0.667      -0.011
occ2[T.10]          0.0210      0.156      0.134      0.893      -0.286       0.328
occ2[T.11]         -0.6424      0.309     -2.078      0.038      -1.248      -0.036
occ2[T.12]         -0.0675      0.252     -0.268      0.789      -0.562       0.427
occ2[T.13]         -0.2330      0.232     -1.006      0.314      -0.687       0.221
occ2[T.14]          0.2562      0.323      0.794      0.427      -0.376       0.889
occ2[T.15]         -0.1939      0.260     -0.747      0.455      -0.703       0.315
occ2[T.16]         -0.0551      0.147     -0.375      0.708      -0.343       0.233
occ2[T.17]         -0.4156      0.136     -3.053      0.002      -0.682      -0.149
occ2[T.18]         -0.4822      1.044     -0.462      0.644      -2.530       1.565
occ2[T.19]         -0.2579      0.333     -0.776      0.438      -0.910       0.394
occ2[T.20]         -0.3010      0.234     -1.286      0.199      -0.760       0.158
occ2[T.21]         -0.4272      0.221     -1.936      0.053      -0.860       0.005
occ2[T.22]         -0.8695      0.298     -2.922      0.003      -1.453      -0.286
ind2[T.3]          -1.2474      0.645     -1.932      0.053      -2.513       0.018
ind2[T.4]          -0.0948      0.464     -0.205      0.838      -1.004       0.814
ind2[T.5]          -0.5294      0.435     -1.218      0.223      -1.381       0.323
ind2[T.6]          -0.6222      0.435     -1.431      0.152      -1.474       0.230
ind2[T.7]          -0.5047      0.502     -1.005      0.315      -1.490       0.480
ind2[T.8]          -0.7295      0.467     -1.561      0.119      -1.646       0.187
ind2[T.9]          -0.8025      0.425     -1.887      0.059      -1.636       0.031
ind2[T.10]         -0.5806      0.481     -1.207      0.227      -1.523       0.362
ind2[T.11]         -0.9852      0.448     -2.198      0.028      -1.864      -0.107
ind2[T.12]         -0.7376      0.424     -1.738      0.082      -1.569       0.094
ind2[T.13]         -1.0183      0.483     -2.110      0.035      -1.965      -0.072
ind2[T.14]         -0.5860      0.416     -1.409      0.159      -1.401       0.229
ind2[T.15]         -0.3801      0.591     -0.643      0.520      -1.538       0.778
ind2[T.16]         -0.5704      0.439     -1.300      0.194      -1.430       0.290
ind2[T.17]         -0.8202      0.426     -1.925      0.054      -1.655       0.015
ind2[T.18]         -0.7614      0.424     -1.796      0.072      -1.592       0.070
ind2[T.19]         -0.8813      0.457     -1.930      0.054      -1.776       0.014
ind2[T.20]         -0.9099      0.448     -2.029      0.042      -1.789      -0.031
ind2[T.21]         -0.7587      0.441     -1.722      0.085      -1.622       0.105
ind2[T.22]         -0.4041      0.433     -0.933      0.351      -1.253       0.445
sex                -0.0696      0.015     -4.570      0.000      -0.099      -0.040
shs                -0.1233      0.907     -0.136      0.892      -1.901       1.654
hsg                -0.5289      0.198     -2.675      0.008      -0.917      -0.141
scl                -0.2921      0.126     -2.318      0.021      -0.539      -0.045
clg                -0.0412      0.070     -0.585      0.559      -0.179       0.097
mw                  0.1107      0.081      1.359      0.174      -0.049       0.270
so                  0.0224      0.074      0.301      0.763      -0.123       0.168
we                 -0.0216      0.084     -0.256      0.798      -0.187       0.143
exp1               -0.0677      0.152     -0.446      0.656      -0.366       0.230
exp1:occ2[T.2]     -0.0736      0.050     -1.469      0.142      -0.172       0.025
exp1:occ2[T.3]     -0.0715      0.064     -1.121      0.262      -0.197       0.054
exp1:occ2[T.4]     -0.0724      0.075     -0.968      0.333      -0.219       0.074
exp1:occ2[T.5]      0.0947      0.079      1.192      0.233      -0.061       0.250
exp1:occ2[T.6]     -0.0349      0.071     -0.490      0.624      -0.175       0.105
exp1:occ2[T.7]     -0.2279      0.078     -2.904      0.004      -0.382      -0.074
exp1:occ2[T.8]     -0.0727      0.065     -1.126      0.260      -0.199       0.054
exp1:occ2[T.9]      0.0274      0.067      0.409      0.682      -0.104       0.159
exp1:occ2[T.10]     0.0076      0.058      0.130      0.897      -0.106       0.122
exp1:occ2[T.11]     0.1014      0.101      1.009      0.313      -0.096       0.298
exp1:occ2[T.12]    -0.0863      0.087     -0.986      0.324      -0.258       0.085
exp1:occ2[T.13]     0.0067      0.076      0.088      0.930      -0.143       0.156
exp1:occ2[T.14]    -0.1369      0.097     -1.405      0.160      -0.328       0.054
exp1:occ2[T.15]    -0.0400      0.090     -0.445      0.656      -0.216       0.136
exp1:occ2[T.16]    -0.0539      0.052     -1.035      0.301      -0.156       0.048
exp1:occ2[T.17]     0.0147      0.047      0.315      0.753      -0.077       0.106
exp1:occ2[T.18]     0.1074      0.472      0.228      0.820      -0.818       1.032
exp1:occ2[T.19]     0.0047      0.106      0.044      0.965      -0.203       0.213
exp1:occ2[T.20]     0.0243      0.074      0.327      0.744      -0.121       0.170
exp1:occ2[T.21]     0.0792      0.070      1.136      0.256      -0.057       0.216
exp1:occ2[T.22]     0.1093      0.088      1.241      0.215      -0.063       0.282
exp1:ind2[T.3]      0.4759      0.223      2.136      0.033       0.039       0.913
exp1:ind2[T.4]      0.0147      0.157      0.094      0.925      -0.293       0.323
exp1:ind2[T.5]      0.1257      0.153      0.821      0.412      -0.175       0.426
exp1:ind2[T.6]      0.1540      0.152      1.010      0.312      -0.145       0.453
exp1:ind2[T.7]      0.1029      0.179      0.576      0.565      -0.247       0.453
exp1:ind2[T.8]      0.2358      0.169      1.396      0.163      -0.095       0.567
exp1:ind2[T.9]      0.1359      0.149      0.912      0.362      -0.156       0.428
exp1:ind2[T.10]     0.1513      0.164      0.920      0.358      -0.171       0.474
exp1:ind2[T.11]     0.3175      0.159      1.997      0.046       0.006       0.629
exp1:ind2[T.12]     0.2591      0.151      1.715      0.086      -0.037       0.555
exp1:ind2[T.13]     0.3396      0.167      2.035      0.042       0.012       0.667
exp1:ind2[T.14]     0.1441      0.148      0.975      0.329      -0.146       0.434
exp1:ind2[T.15]    -0.0568      0.235     -0.242      0.809      -0.517       0.404
exp1:ind2[T.16]     0.0847      0.155      0.546      0.585      -0.219       0.389
exp1:ind2[T.17]     0.1729      0.151      1.142      0.253      -0.124       0.470
exp1:ind2[T.18]     0.1565      0.149      1.048      0.295      -0.136       0.449
exp1:ind2[T.19]     0.1516      0.162      0.935      0.350      -0.166       0.469
exp1:ind2[T.20]     0.1327      0.157      0.847      0.397      -0.175       0.440
exp1:ind2[T.21]     0.2191      0.156      1.409      0.159      -0.086       0.524
exp1:ind2[T.22]     0.1146      0.152      0.752      0.452      -0.184       0.413
exp2                1.6363      1.691      0.968      0.333      -1.679       4.951
exp2:occ2[T.2]      0.6632      0.552      1.201      0.230      -0.420       1.746
exp2:occ2[T.3]      0.6415      0.710      0.903      0.366      -0.751       2.034
exp2:occ2[T.4]      0.9748      0.866      1.126      0.260      -0.722       2.672
exp2:occ2[T.5]     -0.9779      0.974     -1.004      0.315      -2.887       0.931
exp2:occ2[T.6]      0.1051      0.800      0.131      0.896      -1.464       1.674
exp2:occ2[T.7]      3.1407      0.939      3.345      0.001       1.300       4.981
exp2:occ2[T.8]      0.6711      0.719      0.933      0.351      -0.739       2.081
exp2:occ2[T.9]      0.0232      0.763      0.030      0.976      -1.472       1.519
exp2:occ2[T.10]    -0.2692      0.641     -0.420      0.674      -1.525       0.986
exp2:occ2[T.11]    -1.0817      1.006     -1.075      0.282      -3.053       0.890
exp2:occ2[T.12]     0.8324      0.934      0.891      0.373      -0.999       2.664
exp2:occ2[T.13]    -0.2210      0.773     -0.286      0.775      -1.736       1.294
exp2:occ2[T.14]     0.7511      0.927      0.810      0.418      -1.067       2.569
exp2:occ2[T.15]    -0.0327      0.941     -0.035      0.972      -1.877       1.812
exp2:occ2[T.16]     0.3636      0.551      0.660      0.509      -0.717       1.444
exp2:occ2[T.17]    -0.2659      0.486     -0.547      0.584      -1.219       0.687
exp2:occ2[T.18]    -2.5609      5.170     -0.495      0.620     -12.697       7.575
exp2:occ2[T.19]    -0.1292      1.062     -0.122      0.903      -2.211       1.952
exp2:occ2[T.20]    -0.3323      0.723     -0.460      0.646      -1.750       1.085
exp2:occ2[T.21]    -0.9100      0.685     -1.328      0.184      -2.254       0.434
exp2:occ2[T.22]    -0.8551      0.828     -1.033      0.302      -2.478       0.768
exp2:ind2[T.3]     -5.9369      2.407     -2.467      0.014     -10.655      -1.219
exp2:ind2[T.4]     -1.1053      1.710     -0.646      0.518      -4.458       2.247
exp2:ind2[T.5]     -2.0149      1.692     -1.191      0.234      -5.332       1.302
exp2:ind2[T.6]     -2.2278      1.682     -1.325      0.185      -5.525       1.069
exp2:ind2[T.7]     -1.4648      2.014     -0.727      0.467      -5.413       2.483
exp2:ind2[T.8]     -2.9480      1.860     -1.585      0.113      -6.594       0.698
exp2:ind2[T.9]     -1.7796      1.647     -1.080      0.280      -5.009       1.449
exp2:ind2[T.10]    -2.1973      1.774     -1.239      0.216      -5.675       1.280
exp2:ind2[T.11]    -3.8777      1.764     -2.199      0.028      -7.335      -0.420
exp2:ind2[T.12]    -3.1690      1.682     -1.884      0.060      -6.466       0.128
exp2:ind2[T.13]    -3.9652      1.813     -2.187      0.029      -7.520      -0.411
exp2:ind2[T.14]    -2.0783      1.649     -1.260      0.208      -5.311       1.155
exp2:ind2[T.15]     0.1912      2.608      0.073      0.942      -4.921       5.303
exp2:ind2[T.16]    -1.3266      1.719     -0.772      0.440      -4.696       2.043
exp2:ind2[T.17]    -2.2003      1.684     -1.307      0.191      -5.501       1.101
exp2:ind2[T.18]    -2.2006      1.657     -1.328      0.184      -5.448       1.047
exp2:ind2[T.19]    -1.9309      1.788     -1.080      0.280      -5.435       1.574
exp2:ind2[T.20]    -1.9467      1.724     -1.129      0.259      -5.327       1.434
exp2:ind2[T.21]    -3.1127      1.724     -1.806      0.071      -6.492       0.267
exp2:ind2[T.22]    -1.8578      1.685     -1.103      0.270      -5.161       1.445
exp3               -0.9155      0.688     -1.331      0.183      -2.264       0.433
exp3:occ2[T.2]     -0.2039      0.221     -0.922      0.356      -0.637       0.230
exp3:occ2[T.3]     -0.2370      0.287     -0.826      0.409      -0.800       0.326
exp3:occ2[T.4]     -0.4367      0.352     -1.241      0.215      -1.127       0.253
exp3:occ2[T.5]      0.3885      0.412      0.943      0.346      -0.419       1.196
exp3:occ2[T.6]      0.0485      0.329      0.147      0.883      -0.597       0.694
exp3:occ2[T.7]     -1.3949      0.405     -3.444      0.001      -2.189      -0.601
exp3:occ2[T.8]     -0.2054      0.290     -0.709      0.478      -0.773       0.362
exp3:occ2[T.9]     -0.0910      0.314     -0.289      0.772      -0.707       0.525
exp3:occ2[T.10]     0.1855      0.258      0.720      0.471      -0.319       0.690
exp3:occ2[T.11]     0.3932      0.382      1.030      0.303      -0.355       1.142
exp3:occ2[T.12]    -0.2203      0.366     -0.602      0.547      -0.938       0.497
exp3:occ2[T.13]     0.0950      0.290      0.327      0.744      -0.474       0.664
exp3:occ2[T.14]    -0.1444      0.334     -0.432      0.666      -0.800       0.511
exp3:occ2[T.15]     0.1477      0.365      0.405      0.685      -0.567       0.862
exp3:occ2[T.16]    -0.0379      0.215     -0.176      0.860      -0.460       0.384
exp3:occ2[T.17]     0.1510      0.188      0.804      0.421      -0.217       0.519
exp3:occ2[T.18]     1.4084      1.885      0.747      0.455      -2.287       5.104
exp3:occ2[T.19]     0.0923      0.404      0.228      0.819      -0.700       0.885
exp3:occ2[T.20]     0.1807      0.265      0.681      0.496      -0.339       0.701
exp3:occ2[T.21]     0.3779      0.255      1.480      0.139      -0.123       0.878
exp3:occ2[T.22]     0.2855      0.298      0.957      0.339      -0.300       0.871
exp3:ind2[T.3]      2.6666      0.981      2.719      0.007       0.744       4.589
exp3:ind2[T.4]      0.7298      0.688      1.061      0.289      -0.619       2.079
exp3:ind2[T.5]      0.9942      0.684      1.453      0.146      -0.347       2.336
exp3:ind2[T.6]      1.0641      0.680      1.565      0.118      -0.269       2.397
exp3:ind2[T.7]      0.7089      0.834      0.850      0.395      -0.926       2.344
exp3:ind2[T.8]      1.2341      0.748      1.649      0.099      -0.233       2.701
exp3:ind2[T.9]      0.8287      0.668      1.241      0.215      -0.480       2.138
exp3:ind2[T.10]     1.0448      0.707      1.479      0.139      -0.341       2.430
exp3:ind2[T.11]     1.6878      0.716      2.356      0.018       0.284       3.092
exp3:ind2[T.12]     1.3734      0.684      2.009      0.045       0.033       2.714
exp3:ind2[T.13]     1.6377      0.726      2.256      0.024       0.215       3.061
exp3:ind2[T.14]     1.0163      0.671      1.514      0.130      -0.300       2.333
exp3:ind2[T.15]     0.1879      1.030      0.182      0.855      -1.831       2.207
exp3:ind2[T.16]     0.6890      0.697      0.989      0.323      -0.677       2.055
exp3:ind2[T.17]     1.0086      0.684      1.475      0.140      -0.332       2.349
exp3:ind2[T.18]     1.0606      0.673      1.577      0.115      -0.258       2.379
exp3:ind2[T.19]     0.8960      0.723      1.240      0.215      -0.521       2.313
exp3:ind2[T.20]     0.9769      0.696      1.404      0.160      -0.387       2.341
exp3:ind2[T.21]     1.4415      0.700      2.060      0.039       0.070       2.813
exp3:ind2[T.22]     0.9688      0.683      1.419      0.156      -0.370       2.307
exp4                0.1429      0.091      1.575      0.115      -0.035       0.321
exp4:occ2[T.2]      0.0176      0.029      0.610      0.542      -0.039       0.074
exp4:occ2[T.3]      0.0303      0.038      0.805      0.421      -0.044       0.104
exp4:occ2[T.4]      0.0584      0.046      1.276      0.202      -0.031       0.148
exp4:occ2[T.5]     -0.0515      0.055     -0.938      0.349      -0.159       0.056
exp4:occ2[T.6]     -0.0170      0.044     -0.386      0.699      -0.103       0.069
exp4:occ2[T.7]      0.1905      0.056      3.410      0.001       0.081       0.300
exp4:occ2[T.8]      0.0197      0.038      0.518      0.604      -0.055       0.094
exp4:occ2[T.9]      0.0190      0.042      0.451      0.652      -0.064       0.102
exp4:occ2[T.10]    -0.0333      0.034     -0.984      0.325      -0.100       0.033
exp4:occ2[T.11]    -0.0466      0.048     -0.973      0.331      -0.141       0.047
exp4:occ2[T.12]     0.0110      0.047      0.234      0.815      -0.081       0.103
exp4:occ2[T.13]    -0.0137      0.036     -0.381      0.703      -0.084       0.057
exp4:occ2[T.14]     0.0056      0.040      0.139      0.890      -0.073       0.084
exp4:occ2[T.15]    -0.0327      0.046     -0.708      0.479      -0.123       0.058
exp4:occ2[T.16]    -0.0090      0.028     -0.325      0.745      -0.063       0.045
exp4:occ2[T.17]    -0.0257      0.024     -1.073      0.283      -0.073       0.021
exp4:occ2[T.18]    -0.2121      0.220     -0.963      0.336      -0.644       0.220
exp4:occ2[T.19]    -0.0169      0.051     -0.330      0.741      -0.118       0.084
exp4:occ2[T.20]    -0.0296      0.032     -0.916      0.360      -0.093       0.034
exp4:occ2[T.21]    -0.0525      0.032     -1.654      0.098      -0.115       0.010
exp4:occ2[T.22]    -0.0351      0.036     -0.972      0.331      -0.106       0.036
exp4:ind2[T.3]     -0.3852      0.133     -2.898      0.004      -0.646      -0.125
exp4:ind2[T.4]     -0.1209      0.090     -1.344      0.179      -0.297       0.055
exp4:ind2[T.5]     -0.1441      0.090     -1.605      0.109      -0.320       0.032
exp4:ind2[T.6]     -0.1526      0.089     -1.710      0.087      -0.328       0.022
exp4:ind2[T.7]     -0.1002      0.112     -0.895      0.371      -0.320       0.119
exp4:ind2[T.8]     -0.1610      0.098     -1.643      0.100      -0.353       0.031
exp4:ind2[T.9]     -0.1178      0.088     -1.342      0.180      -0.290       0.054
exp4:ind2[T.10]    -0.1483      0.092     -1.615      0.106      -0.328       0.032
exp4:ind2[T.11]    -0.2323      0.094     -2.459      0.014      -0.417      -0.047
exp4:ind2[T.12]    -0.1873      0.090     -2.081      0.037      -0.364      -0.011
exp4:ind2[T.13]    -0.2156      0.095     -2.279      0.023      -0.401      -0.030
exp4:ind2[T.14]    -0.1484      0.088     -1.676      0.094      -0.322       0.025
exp4:ind2[T.15]    -0.0532      0.131     -0.405      0.685      -0.311       0.204
exp4:ind2[T.16]    -0.1044      0.092     -1.140      0.254      -0.284       0.075
exp4:ind2[T.17]    -0.1427      0.090     -1.587      0.113      -0.319       0.034
exp4:ind2[T.18]    -0.1546      0.089     -1.745      0.081      -0.328       0.019
exp4:ind2[T.19]    -0.1270      0.095     -1.338      0.181      -0.313       0.059
exp4:ind2[T.20]    -0.1469      0.091     -1.612      0.107      -0.325       0.032
exp4:ind2[T.21]    -0.2033      0.092     -2.207      0.027      -0.384      -0.023
exp4:ind2[T.22]    -0.1481      0.090     -1.649      0.099      -0.324       0.028
exp1:shs           -0.1920      0.196     -0.982      0.326      -0.575       0.191
exp1:hsg           -0.0173      0.057     -0.303      0.762      -0.130       0.095
exp1:scl           -0.0665      0.043     -1.532      0.126      -0.151       0.019
exp1:clg           -0.0550      0.031     -1.774      0.076      -0.116       0.006
exp1:mw            -0.0280      0.030     -0.944      0.345      -0.086       0.030
exp1:so            -0.0100      0.027     -0.374      0.709      -0.062       0.042
exp1:we             0.0063      0.030      0.209      0.834      -0.053       0.065
exp2:shs            1.9005      1.450      1.310      0.190      -0.943       4.744

Note that the flexible model consists of $246$ regressors.

## Try Lasso next

In [23]:
# Import relevant packages for lasso 
#from sklearn.linear_model import LassoCV
#from sklearn import linear_model
#from sklearn.preprocessing import PolynomialFeatures
#from sklearn.metrics import mean_squared_error

In [24]:
# Get exogenous variables from flexible model
#X = flex_results_0.exog
#X.shape

In [32]:
# Set endogenous variable
lwage = data["lwage"]
lwage.shape

(5150,)

In [26]:
#alpha=0.1

In [27]:
# Set penalty value = 0.1
#reg = linear_model.Lasso(alpha=0.1/np.log(len(lwage)))
#reg = linear_model.Lasso(alpha = alpha)

# LASSO regression for flexible model
#reg.fit(X, lwage)
#lwage_lasso_fitted = reg.fit(X, lwage).predict( X )

# coefficients 
#reg.coef_
#print('Lasso Regression: R^2 score', reg.score(X, lwage))

In [28]:
# Check predicted values
#lwage_lasso_fitted

Now, we can evaluate the performance of both models based on the (adjusted) $R^2_{sample}$ and the (adjusted) $MSE_{sample}$:

In [29]:
# Basic Model
basic = 'lwage ~ sex + exp1 + shs + hsg+ scl + clg + mw + so + we + occ2+ ind2'
basic_results = smf.ols(basic , data=data).fit()

# Flexible model 
flex = 'lwage ~ sex + shs+hsg+scl+clg+occ2+ind2+mw+so+we + (exp1+exp2+exp3+exp4)*(shs+hsg+scl+clg+occ2+ind2+mw+so+we)'
flex_results = smf.ols(flex , data=data).fit()

In [30]:
# Assess the predictive performance
R2_1 = basic_results.rsquared
print("R-squared for the basic model: ", R2_1, "\n")
R2_adj1 = basic_results.rsquared_adj
print("adjusted R-squared for the basic model: ", R2_adj1, "\n")


R2_2 = flex_results.rsquared
print("R-squared for the flexible model: ", R2_2, "\n")
R2_adj2 = flex_results.rsquared_adj
print("adjusted R-squared for the flexible model: ", R2_adj2, "\n")

#R2_L = reg.score(flex_results_0.exog, lwage)
#print("R-squared for LASSO: ", R2_L, "\n")
#R2_adjL = 1 - (1-R2_L)*(len(lwage)-1)/(len(lwage)-X.shape[1]-1)
#print("adjusted R-squared for LASSO: ", R2_adjL, "\n")

R-squared for the basic model:  0.31004650692219493

adjusted R-squared for the basic model:  0.3032809304064291

R-squared for the flexible model:  0.3511098950617233

adjusted R-squared for the flexible model:  0.31869185352218865

In [33]:
# calculating the MSE
MSE1 =  np.mean(basic_results.resid**2)
print("MSE for the basic model: ", MSE1, "\n")
p1 = len(basic_results.params) # number of regressors
n = len(lwage)
MSE_adj1  = (n/(n-p1))*MSE1
print("adjusted MSE for the basic model: ", MSE_adj1, "\n")

MSE2 =  np.mean(flex_results.resid**2)
print("MSE for the flexible model: ", MSE2, "\n")
p2 = len(flex_results.params) # number of regressors
n = len(lwage)
MSE_adj2  = (n/(n-p2))*MSE2
print("adjusted MSE for the flexible model: ", MSE_adj2, "\n")


#MSEL = mean_squared_error(lwage, lwage_lasso_fitted)
#print("MSE for the LASSO model: ", MSEL, "\n")
#pL = reg.coef_.shape[0] # number of regressors
#n = len(lwage)
#MSE_adjL  = (n/(n-pL))*MSEL
#print("adjusted MSE for LASSO model: ", MSE_adjL, "\n")

MSE for the basic model:  0.22442505581164462

adjusted MSE for the basic model:  0.22666974650519117

MSE for the flexible model:  0.21106813644318204

adjusted MSE for the flexible model:  0.22165597526149827

In [36]:
# Package for latex table 
#import array_to_latex as a2l

#table = np.zeros((2, 5))
#table[0,0:5] = [p1, R2_1, MSE1, R2_adj1, MSE_adj1]
#table[1,0:5] = [p2, R2_2, MSE2, R2_adj2, MSE_adj2]
#table[2,0:5] = [pL, R2_L, MSEL, R2_adjL, MSE_adjL]
#table

In [38]:
#table = pd.DataFrame(table, columns = ["p","$R^2_{sample}$","$MSE_{sample}$","$R^2_{adjusted}$", "$MSE_{adjusted}$"], \
                      #index = ["basic reg","flexible reg"])
#table