# Workgroup 4 

- Andrea Ulloa
- Angela Coapaza
- Ana Angulo

## 1. Causal Forest (R and Python script)

In this lab, we are going to replicate the results obtained in the paper of Athey and Wager (2018) in phyton. First, we download all the packages that we are going to use.

In [7]:
pip install syncrng

Requirement already satisfied: syncrng in c:\users\diana\anaconda3_1\lib\site-packages (1.3.3)
Note: you may need to restart the kernel to use updated packages.

In [37]:
pip install pandas

Requirement already satisfied: pandas in c:\users\diana\anaconda3_1\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\diana\anaconda3_1\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\diana\anaconda3_1\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\diana\anaconda3_1\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\diana\anaconda3_1\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
pip install plotnine

Requirement already satisfied: plotnine in c:\users\diana\anaconda3_1\lib\site-packages (0.8.0)
Requirement already satisfied: matplotlib>=3.1.1 in c:\users\diana\anaconda3_1\lib\site-packages (from plotnine) (3.5.1)
Requirement already satisfied: statsmodels>=0.12.1 in c:\users\diana\anaconda3_1\lib\site-packages (from plotnine) (0.13.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\diana\anaconda3_1\lib\site-packages (from plotnine) (1.7.3)
Requirement already satisfied: numpy>=1.19.0 in c:\users\diana\anaconda3_1\lib\site-packages (from plotnine) (1.21.5)
Requirement already satisfied: pandas>=1.1.0 in c:\users\diana\anaconda3_1\lib\site-packages (from plotnine) (1.4.2)
Requirement already satisfied: mizani>=0.7.3 in c:\users\diana\anaconda3_1\lib\site-packages (from plotnine) (0.7.4)
Requirement already satisfied: descartes>=1.1.0 in c:\users\diana\anaconda3_1\lib\site-packages (from plotnine) (1.1.0)
Requirement already satisfied: patsy>=0.5.1 in c:\users\diana\anaconda3_1\lib\site-packages (from plotnine) (0.5.2)
Requirement already satisfied: packaging>=20.0 in c:\users\diana\anaconda3_1\lib\site-packages (from matplotlib>=3.1.1->plotnine) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\diana\anaconda3_1\lib\site-packages (from matplotlib>=3.1.1->plotnine) (9.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\diana\anaconda3_1\lib\site-packages (from matplotlib>=3.1.1->plotnine) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\diana\anaconda3_1\lib\site-packages (from matplotlib>=3.1.1->plotnine) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\diana\anaconda3_1\lib\site-packages (from matplotlib>=3.1.1->plotnine) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\diana\anaconda3_1\lib\site-packages (from matplotlib>=3.1.1->plotnine) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\diana\anaconda3_1\lib\site-packages (from matplotlib>=3.1.1->plotnine) (4.25.0)
Requirement already satisfied: palettable in c:\users\diana\anaconda3_1\lib\site-packages (from mizani>=0.7.3->plotnine) (3.3.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\diana\anaconda3_1\lib\site-packages (from pandas>=1.1.0->plotnine) (2021.3)
Requirement already satisfied: six in c:\users\diana\anaconda3_1\lib\site-packages (from patsy>=0.5.1->plotnine) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import random
import pandas as pd
import numpy as np
from scipy.stats import norm

import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

from SyncRNG import SyncRNG
import numpy as np
import re
from statsmodels.sandbox.stats.multicomp import multipletests
from scipy import linalg
from itertools import chain

from SyncRNG import SyncRNG

from CTL.causal_tree_learn import CausalTree
from sklearn.model_selection import train_test_split
import plotnine as p
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [3]:
random.seed(1)

In [4]:
## Next, we load the data
dataall = pd.read_csv("../../../../data_lab/synthetic_data.csv")
dataall.shape[1]

13

In [5]:
dataall.head(5)

,schoolid,Z,Y,S3,C1,C2,C3,XC,X1,X2,X3,X4,X5
0,76,1,0.081602,6,4,2,1,4,0.334544,0.648586,-1.310927,0.224077,-0.426757
1,76,1,-0.385869,4,12,2,1,4,0.334544,0.648586,-1.310927,0.224077,-0.426757
2,76,1,0.398184,6,4,2,0,4,0.334544,0.648586,-1.310927,0.224077,-0.426757
3,76,1,-0.175037,6,4,2,0,4,0.334544,0.648586,-1.310927,0.224077,-0.426757
4,76,1,0.884583,6,4,1,0,4,0.334544,0.648586,-1.310927,0.224077,-0.426757

In [6]:
dataall.schoolid = np.multiply(dataall.schoolid,1)

In [7]:
school_id = pd.to_numeric(dataall.schoolid, errors='coerce').astype(int)

In [8]:
school_id

0        76
1        76
2        76
3        76
4        76
         ..
10386     1
10387     1
10388     1
10389     1
10390     1
Name: schoolid, Length: 10391, dtype: int32

In [9]:
school_size = school_id.sum(axis = 0, skipna = True)

In [10]:
school_size

414485

In [11]:
# It appears that school ID does not affect pscore. So ignore it
# in modeling, and just treat it as source of per-cluster error.

In [26]:
W = dataall.Z.reset_index( drop = True )
Y = dataall.Y.reset_index( drop = True )
X_raw = dataall.iloc[:, 3:].reset_index( drop = True )

In [31]:
W = pd.DataFrame(W)
Y = pd.DataFrame(Y)

In [32]:
Y

              Y
0      0.081602
1     -0.385869
2      0.398184
3     -0.175037
4      0.884583
...         ...
10386  0.423366
10387 -0.197092
10388  0.141698
10389 -0.351565
10390  0.211240

[10391 rows x 1 columns]

In [33]:
X_raw

       S3  C1  C2  C3  XC        X1        X2        X3        X4        X5
0       6   4   2   1   4  0.334544  0.648586 -1.310927  0.224077 -0.426757
1       4  12   2   1   4  0.334544  0.648586 -1.310927  0.224077 -0.426757
2       6   4   2   0   4  0.334544  0.648586 -1.310927  0.224077 -0.426757
3       6   4   2   0   4  0.334544  0.648586 -1.310927  0.224077 -0.426757
4       6   4   1   0   4  0.334544  0.648586 -1.310927  0.224077 -0.426757
...    ..  ..  ..  ..  ..       ...       ...       ...       ...       ...
10386   7   4   2   1   3  1.185986 -1.129889  1.009875  1.005063 -1.174702
10387   7   4   2   1   3  1.185986 -1.129889  1.009875  1.005063 -1.174702
10388   2  15   1   1   3  1.185986 -1.129889  1.009875  1.005063 -1.174702
10389   5   4   1   1   3  1.185986 -1.129889  1.009875  1.005063 -1.174702
10390   5   1   2   1   3  1.185986 -1.129889  1.009875  1.005063 -1.174702

[10391 rows x 10 columns]

In [34]:
import patsy

In [35]:
C1_exp = patsy.dmatrix(X_raw.C1, dataall,return_type='dataframe')
XC_exp = patsy.dmatrix(X_raw.XC, dataall,return_type='dataframe')

In [36]:
X = pd.concat([C1_exp,XC_exp],axis = 1)

In [37]:
X

       C1  XC
0       4   4
1      12   4
2       4   4
3       4   4
4       4   4
...    ..  ..
10386   4   3
10387   4   3
10388  15   3
10389   4   3
10390   1   3

[10391 rows x 2 columns]

## How the tree was built?

In [38]:
#First, we are going to fit two separate regression forest (Y_forest and W_forest)

In [45]:
# Grow a forest. Add extra trees for the causal forest.
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [72]:

Y_forest = RandomForestRegressor(n_estimators=500,oob_score=True )
Y_forest.fit(X, Y.values.ravel())

Y_hat = Y_forest.predict

In [73]:

W_forest = RandomForestRegressor(n_estimators=500,oob_score=True)
W_forest.fit(X, W.values.ravel())

W_hat = W_forest.predict

In [87]:
import econml
from econml.dml import CausalForestDML

from sklearn.ensemble import RandomForestRegressor
from econml.ortho_forest import ContinuousTreatmentOrthoForest as CausalForest

In [91]:
estimator = CausalForest(n_trees=100,
                         model_T=DecisionTreeRegressor(),
                         model_Y=DecisionTreeRegressor())

The econml.ortho_forest.ContinuousTreatmentOrthoForest class has been renamed to econml.orf.DMLOrthoForest; an upcoming release will remove support for the old name