# PC1 - Grupo 2

#### Integrantes
- GARCIA RODRIGUEZ, EMILIO ALONSO
- PADILLA AQUISE, ALESSANDRO PIERO
- RIEGA NUÃ‘EZ, GABRIEL ANTONIO FERMIN
- SALAMANCA FERNANDEZ, LUCAS PABLO
- SILVA ANDUJAR, NICOLAS

## 1. Data analysis

In [156]:
import numpy as np
import pandas as pd

In [157]:
df = pd.read_csv("wage2015_subsample_inference.csv")

1.Import the data set. Make sure the column names are imported as intended.d variable

In [159]:
df.columns

Index(['rownames', 'wage', 'lwage', 'sex', 'shs', 'hsg', 'scl', 'clg', 'ad',
       'mw', 'so', 'we', 'ne', 'exp1', 'exp2', 'exp3', 'exp4', 'occ', 'occ2',
       'ind', 'ind2'],
      dtype='object')

In [160]:
df = df.set_index('rownames')

2.Are there missing values? Display the number of missings (if any) of each variable in the data set.

In [162]:
missing_values = df.isnull().sum()
missing_values

wage     0
lwage    0
sex      0
shs      0
hsg      0
scl      0
clg      0
ad       0
mw       0
so       0
we       0
ne       0
exp1     0
exp2     0
exp3     0
exp4     0
occ      0
occ2     0
ind      0
ind2     0
dtype: int64

3.Report descriptive statistics of the variables (mean, standard deviation, percentiles, etc.). Interpret your results.

In [164]:
df.describe()

,wage,lwage,sex,shs,hsg,scl,clg,ad,mw,so,we,ne,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2
count,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000
mean,23.410410,2.970787,0.444466,0.023301,0.243883,0.278058,0.317670,0.137087,0.259612,0.296505,0.216117,0.227767,13.760583,3.018925,8.235867,25.118038,5310.737476,11.670874,6629.154951,13.316893
std,21.003016,0.570385,0.496955,0.150872,0.429465,0.448086,0.465616,0.343973,0.438464,0.456761,0.411635,0.419432,10.609465,4.000904,14.488962,53.530225,11874.356080,6.966684,5333.443992,5.701019
min,3.021978,1.105912,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,370.000000,2.000000
25%,13.461538,2.599837,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.250000,0.125000,0.062500,1740.000000,5.000000,4880.000000,9.000000
50%,19.230769,2.956512,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,1.000000,1.000000,4040.000000,13.000000,7370.000000,14.000000
75%,27.777778,3.324236,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,21.000000,4.410000,9.261000,19.448100,5610.000000,17.000000,8190.000000,18.000000
max,528.845673,6.270697,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,47.000000,22.090000,103.823000,487.968100,100000.000000,22.000000,100000.000000,22.000000

df.median()

In [166]:
df.mode()

,wage,lwage,sex,shs,hsg,scl,clg,ad,mw,so,we,ne,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2
0,19.230769,2.956512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.25,0.125,0.0625,4700.0,17,770.0,18

In [167]:
#InterpretaciÃ³n

4.How many women with a college graduate degree (clg) or above have a wage corresponding to the 25% richest of the sample? Report the dataframe corresponding to this conditions and the result.

5.How many men with a high school graduate degree (hsg) or below have a wage corresponding to the 25% richest of the sample? Report the dataframe corresponding to this conditions and the result.

6.Create two dataframes. One containing only the log(wage) and the other containig every variable of the data set but the wage related variable

In [171]:
#Dataframe sÃ³lo con log_wage
df_logwage = df[['lwage']]
#Dataframe with rest of the variables but the wage related variable
df_nowage =df.drop(columns=['wage', 'lwage'])

## 2. Data wrangling

7.Make an array for our y 
 variable, which will be the logarithm of wage (lwage column)

In [174]:
log_w = np.array(df_logwage['lwage'])
log_w = log_w.reshape(-1, 1)

In [175]:
print(log_w)
log_w.shape

[[2.26336438]
 [3.87280229]
 [2.40312632]
 ...
 [3.64965874]
 [3.49550806]
 [2.85115104]]

(5150, 1)

8.Make three new arrays for our predictors:

In [177]:
exp1 = np.array(df_nowage['exp1']).reshape(-1, 1)
exp2 = np.array(df_nowage['exp2']).reshape(-1, 1)
exp3 = np.array(df_nowage['exp3']).reshape(-1, 1)

8.1. The basic model will have the columns sex hsg scl clg ad so we ne exp1 occ2 ind2. Make sure to convert occ2 and ind2 to dummies and to drop the first dummy value to prevent multicolinearity. This means:

In [179]:
basic_model_df = df_nowage 
basic_model_df['exp1'] = exp1